Administration/CoEStarterKit/src/PowerPlatformAdmin/Workflows/AdminSyncTemplatev2Apps-40D87BF4-ABE3-E911-A860-000D3A372186.json
{"properties":{"connectionReferences":{"shared_commondataservice_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_office365users_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_office365users"}},"shared_powerappsforappmakers":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_powerappsforappmakers"}},"shared_powerappsforadmins_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_powerappsforadmins"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_updated":{"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SubscribeOnUpdatedItems"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"body":{"NotificationUrl":"@{listCallbackUrl()}"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_environments'))}/onupdateditemswebhook","queries":{"scope":"Organization"},"authentication":"@parameters('$authentication')"}}},"actions":{"Initialize_today_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"today","type":"String","value":"@{utcNow()}"}]},"description":"Used to identify the 'Record Modified' field on all resource entities"},"Initialize_Flow_Environment_variable":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"flowEnvironment","type":"String"}]},"description":"Environment location specific Flow URL - remember / at the end"},"List_Environment_Variable_-_admin_PowerAutomateEnvironmentVariable":{"runAfter":{"Initialize_Flow_Environment_variable":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('environmentvariabledefinitions'))}/items","queries":{"$filter":"schemaname eq 'admin_PowerAutomateEnvironmentVariable'"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Set_Flow_Environment_Variable":{"foreach":"@body('List_Environment_Variable_-_admin_PowerAutomateEnvironmentVariable')?['value']","actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"flowEnvironment","value":"@items('Set_Flow_Environment_Variable')?['defaultvalue']"}}},"runAfter":{"List_Environment_Variable_-_admin_PowerAutomateEnvironmentVariable":["Succeeded"]},"type":"Foreach"},"Get_Apps_and_store_them_in_the_CoE_CDS_Entity":{"actions":{"Check_if_Environment_is_deleted":{"actions":{"Apply_to_each_existing_App_to_find_deleted_apps":{"foreach":"@body('Filter_existing_Apps_by_Environment')","actions":{"Check_if_current_App_list_contains_App_ID":{"actions":{"Mark_App_as_deleted":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"patch","body":{"admin_displayname":"@body('Parse_JSON')?['admin_displayname']","admin_appdeleted":true,"admin_appdeletedon":"@variables('today')","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_apps'))}/items/@{encodeURIComponent(encodeURIComponent(body('Parse_JSON')['ItemInternalId']))}","authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"Filter_Apps":["Succeeded"]},"expression":{"equals":["@length(body('Filter_Apps'))",0]},"type":"If"},"Filter_Apps":{"runAfter":{"Parse_JSON":["Succeeded"]},"type":"Query","inputs":{"from":"@body('Get_Apps_as_Admin')?['value']","where":"@equals(string(item()?['name']), string(body('Parse_JSON')['ItemInternalId']))"}},"Parse_JSON":{"runAfter":{},"type":"ParseJson","inputs":{"content":"@items('Apply_to_each_existing_App_to_find_deleted_apps')","schema":{"type":"object","properties":{"ItemInternalId":{"type":"string"},"admin_displayname":{"type":"string"}},"required":["ItemInternalId"]}}}},"runAfter":{"Filter_existing_Apps_by_Environment":["Succeeded"]},"type":"Foreach"},"Filter_existing_Apps_by_Environment":{"runAfter":{"List_existing_Apps":["Succeeded"]},"type":"Query","inputs":{"from":"@body('List_existing_Apps')?['value']","where":"@equals(item()?['_admin_appenvironment_value'], triggerBody()?['admin_environmentid'])"}},"List_existing_Apps":{"runAfter":{"Apply_to_each_App":["Succeeded","Failed"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_apps'))}/items","authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":10000}}},"Apply_to_each_App":{"foreach":"@body('Get_Apps_as_Admin')?['value']","actions":{"Upsert_App_Maker_record":{"runAfter":{"Get_PowerApp_Maker_profile":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"patch","body":{"admin_displayname":"@items('Apply_to_each_App')?['properties']?['owner']?['displayName']","admin_city":"@body('Get_PowerApp_Maker_profile')?['city']","admin_country":"@body('Get_PowerApp_Maker_profile')?['country']","admin_department":"@body('Get_PowerApp_Maker_profile')?['department']","admin_jobtitle":"@body('Get_PowerApp_Maker_profile')?['jobTitle']","admin_office":"@body('Get_PowerApp_Maker_profile')?['officeLocation']","admin_userprincipalname":"@body('Get_PowerApp_Maker_profile')?['userPrincipalName']"},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_makers'))}/items/@{encodeURIComponent(encodeURIComponent(items('Apply_to_each_App')?['properties']?['owner']?['id']))}","authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Upsert_App_record_(abandoned_app)":{"runAfter":{"Get_PowerApp_Maker_profile":["Failed"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"patch","body":{"admin_displayname":"@items('Apply_to_each_App')?['properties']?['displayName']","admin_appsharedgroups":"@items('Apply_to_each_App')?['properties']?['sharedGroupsCount']","admin_appsharedusers":"@items('Apply_to_each_App')?['properties']?['sharedUsersCount']","admin_appcreatedon":"@items('Apply_to_each_App')?['properties']?['createdTime']","admin_appdeleted":false,"admin_appdescription":"@items('Apply_to_each_App')?['properties']?['description']","admin_appenvironmentdisplayname":"@triggerBody()?['admin_displayname']","admin_appiconuri":"@items('Apply_to_each_App')?['properties']?['backgroundImageUri']","admin_appownerdisplayname":"Unknown","admin_apppublished":"@{items('Apply_to_each_App')?['properties']?['lastPublishTime']}","admin_appsharedwithtenant":"@if(greater(length(coalesce(body('Filter_array'),variables('sharedWith'))), 0), true, false)","admin_powerappstype":"@coalesce(if(equals(items('Apply_to_each_App')?['properties']?['embeddedApp']?['type'], 'SharepointFormApp'), 597910002, 597910000), 597910000)","admin_iconbackgroundcolor":"@items('Apply_to_each_App')?['properties']?['backgroundColor']","admin_sharepointformurl":"@{coalesce(items('Apply_to_each_App')?['properties']?['embeddedApp']?['listUrl'], '')}","_admin_appenvironment_value":"@triggerBody()?['admin_environmentid']","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_apps'))}/items/@{encodeURIComponent(encodeURIComponent(items('Apply_to_each_App')?['name']))}","authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Upsert_App_record":{"runAfter":{"Upsert_App_Maker_record":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"patch","body":{"admin_displayname":"@items('Apply_to_each_App')?['properties']?['displayName']","admin_appsharedgroups":"@items('Apply_to_each_App')?['properties']?['sharedGroupsCount']","admin_appsharedusers":"@items('Apply_to_each_App')?['properties']?['sharedUsersCount']","_admin_appowner_value":"@body('Upsert_App_Maker_record')?['admin_makerid']","admin_appcreatedon":"@items('Apply_to_each_App')?['properties']?['createdTime']","admin_appdeleted":false,"admin_appdescription":"@items('Apply_to_each_App')?['properties']?['description']","admin_appenvironmentdisplayname":"@triggerBody()?['admin_displayname']","admin_appiconuri":"@items('Apply_to_each_App')?['properties']?['backgroundImageUri']","admin_appmodifiedon":"@items('Apply_to_each_App')?['properties']?['lastModifiedTime']","admin_apppublished":"@{if(empty(items('Apply_to_each_App')?['properties']?['lastPublishTime']), utcNow(), items('Apply_to_each_App')?['properties']?['lastPublishTime'])}","admin_appsharedwithtenant":"@if(greater(length(coalesce(body('Filter_array'),variables('sharedWith'))), 0), true, false)","admin_powerappstype":"@coalesce(if(equals(items('Apply_to_each_App')?['properties']?['embeddedApp']?['type'], 'SharepointFormApp'), 597910002, 597910000), 597910000)","admin_iconbackgroundcolor":"@items('Apply_to_each_App')?['properties']?['backgroundColor']","admin_sharepointformurl":"@{coalesce(items('Apply_to_each_App')?['properties']?['embeddedApp']?['listUrl'], '')}","_admin_appenvironment_value":"@triggerBody()?['admin_environmentid']"},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_apps'))}/items/@{encodeURIComponent(encodeURIComponent(items('Apply_to_each_App')?['name']))}","authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Store_App_Connection_References":{"actions":{"Check_if_Connection_References_are_not_null":{"actions":{"Apply_to_each_Connection_Reference":{"foreach":"@items('Apply_to_each_App')?['properties']?['connectionReferences']","actions":{"Create_a_new_App_Connection":{"runAfter":{"Filter_current_app_Connector":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"post","body":{"admin_displayname":"@items('Apply_to_each_Connection_Reference')?['displayName']","_admin_app_value":"@items('Apply_to_each_App')?['name']","_admin_connector_value":"@{first(body('Filter_current_app_Connector'))?['admin_connectorid']}","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_connectionreferences'))}/items","authentication":"@parameters('$authentication')"}},"Filter_current_app_Connector":{"runAfter":{},"type":"Query","inputs":{"from":"@body('List_Connectors')?['value']","where":"@equals(item()?['admin_displayname'], items('Apply_to_each_Connection_Reference')?['displayName'])"}}},"runAfter":{},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":50}}}},"runAfter":{"Apply_to_each_existing_connection":["Succeeded"]},"expression":{"not":{"equals":["@items('Apply_to_each_App')?['properties']?['connectionReferences']","@null"]}},"type":"If"},"List_App_Connection_References":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_connectionreferences'))}/items","queries":{"$filter":"admin_App/admin_appid eq @{items('Apply_to_each_App')?['name']}"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_existing_connection":{"foreach":"@body('List_App_Connection_References')?['value']","actions":{"Delete_Connection":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"DeleteItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"delete","path":"/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_connectionreferences'))}/items/@{encodeURIComponent(encodeURIComponent(items('Apply_to_each_existing_connection')?['admin_connectionreferenceid']))}","authentication":"@parameters('$authentication')"}}},"runAfter":{"List_App_Connection_References":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":50}}}},"runAfter":{"Upsert_App_record":["Succeeded","Skipped"],"Upsert_App_record_(abandoned_app)":["Succeeded","Skipped"]},"type":"Scope"},"Get_PowerApp_Maker_profile":{"runAfter":{"Check_if_App_Shared_with_Tenant":["Succeeded","Failed"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"UserProfile_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365users_1']['connectionId']"}},"method":"get","path":"/codeless/v1.0/users/@{encodeURIComponent(items('Apply_to_each_App')?['properties']?['owner']?['id'])}","authentication":"@parameters('$authentication')"}},"Check_if_App_Shared_with_Tenant":{"actions":{"Get_App_Role_Assignments":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"Get-AppRoleAssignment"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_powerappsforappmakers']['connectionId']"}},"method":"get","path":"/providers/Microsoft.PowerApps/apps/@{encodeURIComponent(items('Apply_to_each_app')?['name'])}/permissions","queries":{"api-version":"2017-06-01","$top":250},"authentication":"@parameters('$authentication')"}},"Filter_array":{"runAfter":{"Get_App_Role_Assignments":["Succeeded"]},"type":"Query","inputs":{"from":"@body('Get_App_Role_Assignments')?['value']","where":"@equals(item()?['properties']?['principal']?['type'], 'Tenant')"}}},"runAfter":{},"type":"Scope"}},"runAfter":{"Get_Apps_as_Admin":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":50}}},"Get_Apps_as_Admin":{"runAfter":{"List_Connectors":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"Get-AdminApps"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_powerappsforadmins_1']['connectionId']"}},"method":"get","path":"/providers/Microsoft.PowerApps/scopes/admin/environments/@{encodeURIComponent(triggerBody()?['admin_environmentname'])}/apps","queries":{"api-version":"2018-10-01","$top":1000},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":10000}}},"List_Connectors":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_connectors'))}/items","authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":1000}}}},"runAfter":{},"expression":{"not":{"equals":["@triggerBody()?['admin_environmentdeleted']","@true"]}},"type":"If"}},"runAfter":{"Set_Flow_Environment_Variable":["Succeeded"]},"type":"Scope"},"Get_Apps_fails_-_Error_Handling":{"actions":{"Create_a_new_record_-_Sync_Flow_Errors":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"post","body":{"admin_name":"Admin | Sync Template v2 (Apps)","admin_environmentname":"@triggerBody()?['admin_displayname']","admin_flowinstanceurl":"@{concat(variables('flowEnvironment'), workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])}","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_syncflowerrorses'))}/items","authentication":"@parameters('$authentication')"}},"Terminate":{"runAfter":{"Create_a_new_record_-_Sync_Flow_Errors":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"500","message":"Get Apps Failed"}}}},"runAfter":{"Get_Apps_and_store_them_in_the_CoE_CDS_Entity":["Failed"]},"type":"Scope"},"Initialize_shared_with_everyone":{"runAfter":{"Initialize_today_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"sharedWithEveryone","type":"Boolean","value":"@false"}]}},"Initialize_variable":{"runAfter":{"Initialize_shared_with_everyone":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"sharedWith","type":"Array"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}