Administration/CoEStarterKit/src/PowerPlatformAdmin/Workflows/AdminWelcomeEmail-18C1F53D-8D87-E911-A860-000D3A37207B.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_office365groups":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_office365groups"}},"shared_office365":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_office365"}},"shared_commondataservice_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created":{"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SubscribeOnNewItems"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"body":{"NotificationUrl":"@{listCallbackUrl()}"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_makers'))}/onnewitemswebhook","queries":{"scope":"Organization"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Settings":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_coesettingses'))}/items","authentication":"@parameters('$authentication')"}},"Initialize_logo":{"runAfter":{"Get_Settings":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"logo","type":"String","value":"@{first(body('Get_Settings')?['value'])?['admin_logo']}"}]}},"List_group_members":{"runAfter":{"Set_Power_Platform_Maker_Office_365_Group":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"ListGroupMembers"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365groups']['connectionId']"}},"method":"get","path":"/v1.0/groups/@{encodeURIComponent(variables('office365GroupID'))}/members","authentication":"@parameters('$authentication')"}},"Condition":{"actions":{},"runAfter":{"List_group_members":["Succeeded"]},"else":{"actions":{"Add_member_to_group":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"AddMemberToGroup"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365groups']['connectionId']"}},"method":"post","path":"/v1.0/groups/@{encodeURIComponent(variables('office365GroupID'))}/members/$ref","queries":{"userUpn":"@triggerBody()?['admin_userprincipalname']"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)":{"runAfter":{"Add_member_to_group":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"}},"method":"post","body":{"To":"@triggerBody()?['admin_userprincipalname']","Subject":"Welcome to Power Apps and Power Automate","Body":"@{variables('htmlHeader')}\n<body>\n<div id='content'>\n<table id='form'>\n<tr><td><img id='logo' src='@{variables('logo')}'></td></tr>\n<tr><td><p id='header'>Microsoft Power Platform</p></td></tr>\n<tr id='ribbon'><td>\n<table id='ribbonContent'><tr><td>Welcome to the Power Platform!</td>\n<td><img src='https://higherlogicdownload.s3.amazonaws.com/PBIUSERGROUP/0dd17701-ca4a-49ad-9e12-8a3458d663ba/UploadedImages/World_Tour/2019/PowerApps.png' height=60></td>\n<td><img src='http://powerplatformconference.com/wp-content/uploads/2019/05/FlowIcon256x256.png' height=40></td>\n</tr></table></td></tr>\n<tr id='message'><td>\n\n<p>Welcome to Power Apps and Power Automate!<br>\n<br>\n<b>Power Automate </b> is an online workflow service that is licensed through our Office 365 entitlement. It is capable of automating events across common apps and services. The Flow service contains over 230 connectors, including corporate and consumer-based services.<br>\n<br>\n<b>Power Apps</b> is a suite of apps, services, connectors and data platform that provides a rapid application development environment to build custom apps. Quickly build custom business apps that connect to business data, from the same set of connectors is used by Flow.<br>\n<table id='app'>\n<br>Here are some resources we recommend for learning Flow:<br><br>\n<tr><th>Learn</th><th>Watch</th><th>Engage</th></tr>\n<tr><td class='label'><ul><li><a href='https://docs.microsoft.com/en-us/flow/'>Power Automate Documentation</a></li><li><a href='https://docs.microsoft.com/en-us/learn/browse/?resource_type=learning%20path&products=flow&utm_source=flow-learn-menu&utm_medium=web'>Guided Learning</a></li><li><a href='https://flow.microsoft.com/en-us/blog/microsoft-flow-learning-resources-materials/'>Power Automate Learning Resources blog</a></li></ul></td>\n<td class='label'><ul><li><a href='https://www.youtube.com/watch?v=uY0rjTjebZ4'>Intro to Power Automate video</a></li><li><a href='https://www.youtube.com/channel/UClBCcDTylJUzvP8sycg6pEA'>Product Group Videos</a></li></ul></td>\n<td class='label'><ul><li><a href='https://powerusers.microsoft.com/t5/Microsoft-Flow-Community/ct-p/FlowCommunity'>Power Automate Community Blog</a></li><li><a href='@{variables('communityUrl')}'>Yammer Club</a></li></ul></td></tr>\n<table id='app'>\n<br>Here are some resources we recommend for learning Power Apps:<br><br>\n<table id='app'>\n<tr><th>Learn</th><th>Watch</th><th>Engage</th></tr>\n<tr><td class='label'><ul><li><a href='https://docs.microsoft.com/en-us/powerapps/'>Power Apps Documentation</a></li><li><a href='https://docs.microsoft.com/en-us/learn/browse/'>PowerApps Guided Learning</a></li><li><a href='https://powerapps.microsoft.com/en-us/blog/microsoft-powerapps-learning-resources/'>Power Apps Learning Resources Blog</a></li></ul></td>\n<td class='label'><ul><li><a href='https://powerusers.microsoft.com/t5/Video-Gallery/bd-p/VideoGallery'>Power Apps Community Video Gallery</a></li><li><a href='https://www.youtube.com/playlist?list=PL4VcpNRBcMg4CIboRveUi9Rz96V-beqsH'>Product Group Videos</a></li></ul></td>\n<td class='label'><ul><li><a href='https://powerusers.microsoft.com/t5/Power-Apps-Community/ct-p/PowerApps1'>PowerApps Community</a></li><li><a href='@{variables('communityUrl')}'>Yammer Club</a></li></ul></td></tr>\n</table>\n\n@{variables('EmailHtmlFormatFooter')}"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}}}},"expression":{"contains":["@string(body('List_group_members'))","@triggerBody()?['admin_userprincipalname']"]},"type":"If"},"Initialize_communityUrl":{"runAfter":{"Initialize_logo":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"communityUrl","type":"String","value":"@{first(body('Get_Settings')?['value'])?['admin_linktocommunitychannel']}"}]}},"Initialize_htmlHeader_(style)":{"runAfter":{"Initialize_Office_365_Group_ID":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"htmlHeader","type":"String"}]}},"List_Environment_Variable_-_admin_eMailHeaderStyle":{"runAfter":{"Initialize_EmailHtmlFormatFooter_variable":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('environmentvariabledefinitions'))}/items","queries":{"$filter":"schemaname eq 'admin_eMailHeaderStyle'"},"authentication":"@parameters('$authentication')"}},"Set_HTML_Header_":{"foreach":"@body('List_Environment_Variable_-_admin_eMailHeaderStyle')?['value']","actions":{"Set_htmlHeader":{"runAfter":{},"type":"SetVariable","inputs":{"name":"htmlHeader","value":"@items('Set_HTML_Header_')?['defaultvalue']"}}},"runAfter":{"List_Environment_Variable_-_admin_eMailHeaderStyle":["Succeeded"]},"type":"Foreach"},"List_Environment_Variable_-_admin_PowerPlatformMakeSecurityGroup":{"runAfter":{"Set_HTML_Header_":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('environmentvariabledefinitions'))}/items","queries":{"$filter":"schemaname eq 'admin_PowerPlatformMakeSecurityGroup'"},"authentication":"@parameters('$authentication')"}},"Set_Power_Platform_Maker_Office_365_Group":{"foreach":"@body('List_Environment_Variable_-_admin_PowerPlatformMakeSecurityGroup')?['value']","actions":{"Set_office365GroupID":{"runAfter":{},"type":"SetVariable","inputs":{"name":"office365GroupID","value":"@items('Set_Power_Platform_Maker_Office_365_Group')?['defaultvalue']"}}},"runAfter":{"List_Environment_Variable_-_admin_PowerPlatformMakeSecurityGroup":["Succeeded"]},"type":"Foreach"},"Initialize_Office_365_Group_ID":{"runAfter":{"Initialize_communityUrl":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"office365GroupID","type":"String"}]}},"Initialize_EmailHtmlFormatFooter_variable":{"runAfter":{"Initialize_htmlHeader_(style)":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"EmailHtmlFormatFooter","type":"String","value":"<tr id='footer'><td>Questions? Get help from our community <a href='@{variables('communityUrl')}'>Yammer Group</a>.</td></tr>\n</table>\n</div>\n</body>"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}