Administration/CoEStarterKit/src/PowerPlatformAdmin/Workflows/AdminNewsletterwithProductUpdates-E7A96786-C7E5-E911-A860-000D3A372932.json
{"properties":{"connectionReferences":{"shared_rss":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_rss"}},"shared_office365":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_office365"}},"shared_commondataservice_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Week","interval":1,"startTime":"2019-10-03T09:00:00Z","schedule":{"weekDays":["Monday"]}},"type":"Recurrence"}},"actions":{"List_PowerApps_Blog_RSS_feed_items":{"runAfter":{"Set_HTML_Header_":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"ListFeedItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_rss']['connectionId']"}},"method":"get","path":"/ListFeedItems","queries":{"feedUrl":"https://powerapps.microsoft.com/en-us/blog/feed/","since":"@body('Get_Date_7_days_ago')"},"authentication":"@parameters('$authentication')"}},"List_PowerApps_Community_Blog_RSS_feed_items":{"runAfter":{"List_PowerApps_Blog_RSS_feed_items":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"ListFeedItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_rss']['connectionId']"}},"method":"get","path":"/ListFeedItems","queries":{"feedUrl":"https://powerusers.microsoft.com/jgvjg48436/rss/board?board.id=PowerAppsBlog","since":"@body('Get_Date_7_days_ago')"},"authentication":"@parameters('$authentication')"}},"Create_Blog_HTML_table":{"runAfter":{"Apply_to_each_Power_Virtual_Agent_Blog_Post":["Succeeded"]},"type":"Table","inputs":{"from":"@variables('blogContent')","format":"HTML"}},"Compose_Blog_HTML_Table":{"runAfter":{"Create_Blog_HTML_table":["Succeeded"]},"type":"Compose","inputs":"@replace(replace(replace(body('Create_Blog_HTML_table'), '&lt;', '<'), '&gt;', '>'), '&quot;', '\"')"},"Send_an_email_(V2)":{"runAfter":{"Compose_Blog_HTML_Table":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"}},"method":"post","body":{"To":"@variables('adminMail')","Subject":"Internal Power Platform Newsletter","Body":"@{variables('htmlHeader')}\n<strong>Power Platform Product updates, news and announcements </strong>since <strong>@{formatDateTime(body('Get_Date_7_days_ago'), 'yyyy-MM-dd')}</strong><strong></strong><br>\n<br>\n@{outputs('Compose_Blog_HTML_Table')}<br>\n</p>","Importance":"Normal"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}},"List_Flow_Blog_RSS_feed_items":{"runAfter":{"List_PowerApps_Community_Blog_RSS_feed_items":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"ListFeedItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_rss']['connectionId']"}},"method":"get","path":"/ListFeedItems","queries":{"feedUrl":"https://flow.microsoft.com/en-us/blog/feed/","since":"@body('Get_Date_7_days_ago')"},"authentication":"@parameters('$authentication')"}},"List_Power_BI_RSS_feed_items":{"runAfter":{"List_Flow_Blog_RSS_feed_items":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"ListFeedItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_rss']['connectionId']"}},"method":"get","path":"/ListFeedItems","queries":{"feedUrl":"https://powerbi.microsoft.com/en-us/blog/feed/","since":"@body('Get_Date_7_days_ago')"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_Power_BI_Blog_Post":{"foreach":"@body('List_Power_BI_RSS_feed_items')","actions":{"Add_Power_BI_Blog_post_to_array":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"blogContent","value":{"title":"@concat('<a href=\"', item()?['primaryLink'], '\">', item()['title'], '</a>')","summary":"@items('Apply_to_each_Power_BI_Blog_Post')?['summary']"}}}},"runAfter":{"Apply_to_each_PowerApps_Community_Blog_Post":["Succeeded"]},"type":"Foreach"},"Apply_to_each_PowerApps_Blog_post":{"foreach":"@body('List_PowerApps_Blog_RSS_feed_items')","actions":{"Add_PowerApps_Blog_post_to_array":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"blogContent","value":{"Title":"@concat('<a href=\"', item()?['primaryLink'], '\">', item()['title'], '</a>')","Summary":"@items('Apply_to_each_PowerApps_Blog_post')?['summary']"}}}},"runAfter":{"List_Power_Virtual_Agent_RSS_feed_items":["Succeeded"]},"type":"Foreach"},"Apply_to_each_Flow_Blog_post":{"foreach":"@body('List_Flow_Blog_RSS_feed_items')","actions":{"Add_Flow_Blog_post_to_array":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"blogContent","value":{"Title":"@concat('<a href=\"', item()?['primaryLink'], '\">', item()['title'], '</a>')","Summary":"@items('Apply_to_each_Flow_Blog_post')?['summary']"}}}},"runAfter":{"Apply_to_each_PowerApps_Blog_post":["Succeeded"]},"type":"Foreach"},"Apply_to_each_PowerApps_Community_Blog_Post":{"foreach":"@body('List_PowerApps_Community_Blog_RSS_feed_items')","actions":{"Add_PowerApps_Community_Blog_post_to_array":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"blogContent","value":{"title":"@concat('<a href=\"', item()?['primaryLink'], '\">', item()['title'], '</a>')","summary":"@items('Apply_to_each_PowerApps_Community_Blog_Post')?['summary']"}}}},"runAfter":{"Apply_to_each_Flow_Blog_post":["Succeeded"]},"type":"Foreach"},"Initialize_Admin_eMail_variable":{"runAfter":{"Initialize_Blog_Content_Array":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"adminMail","type":"String"}]},"description":"Environment location specific Flow URL"},"Get_Date_7_days_ago":{"runAfter":{},"type":"Expression","kind":"SubtractFromTime","inputs":{"baseTime":"@{utcNow()}","interval":7,"timeUnit":"Day"}},"Initialize_Blog_Content_Array":{"runAfter":{"Get_Date_7_days_ago":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"blogContent","type":"Array"}]}},"List_Environment_Variable_-_admin_AdminMail":{"runAfter":{"Initialize_Admin_eMail_variable":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('environmentvariabledefinitions'))}/items","queries":{"$filter":"schemaname eq 'admin_AdminMail'"},"authentication":"@parameters('$authentication')"}},"Set_Admin_Mail_Variable":{"foreach":"@body('List_Environment_Variable_-_admin_AdminMail')?['value']","actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"adminMail","value":"@items('Set_Admin_Mail_Variable')?['defaultvalue']"}}},"runAfter":{"List_Environment_Variable_-_admin_AdminMail":["Succeeded"]},"type":"Foreach"},"Initialize_htmlHeader_(style)":{"runAfter":{"Set_Admin_Mail_Variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"htmlHeader","type":"String"}]}},"List_Environment_Variable_-_admin_eMailHeaderStyle":{"runAfter":{"Initialize_htmlHeader_(style)":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('environmentvariabledefinitions'))}/items","queries":{"$filter":"schemaname eq 'admin_eMailHeaderStyle'"},"authentication":"@parameters('$authentication')"}},"Set_HTML_Header_":{"foreach":"@body('List_Environment_Variable_-_admin_eMailHeaderStyle')?['value']","actions":{"Set_htmlHeader":{"runAfter":{},"type":"SetVariable","inputs":{"name":"htmlHeader","value":"@items('Set_HTML_Header_')?['defaultvalue']"}}},"runAfter":{"List_Environment_Variable_-_admin_eMailHeaderStyle":["Succeeded"]},"type":"Foreach"},"List_Power_Virtual_Agent_RSS_feed_items":{"runAfter":{"List_Power_BI_RSS_feed_items":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"ListFeedItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_rss']['connectionId']"}},"method":"get","path":"/ListFeedItems","queries":{"feedUrl":"https://powervirtualagents.microsoft.com/en-us/blog/feed/","since":"@body('Get_Date_7_days_ago')"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_Power_Virtual_Agent_Blog_Post":{"foreach":"@body('List_Power_Virtual_Agent_RSS_feed_items')","actions":{"Add_Power_Virtual_Agent_Blog_post_to_array":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"blogContent","value":{"title":"@concat('<a href=\"', item()?['primaryLink'], '\">', item()['title'], '</a>')","summary":"@items('Apply_to_each_Power_Virtual_Agent_Blog_Post')?['summary']"}}}},"runAfter":{"Apply_to_each_Power_BI_Blog_Post":["Succeeded"]},"type":"Foreach"}}}},"schemaVersion":"1.0.0.0"}