Administration/CoEStarterKit/src/PowerPlatformAdmin/Workflows/AdminSyncTemplatev2ModelDrivenApps-9537B2F2-ABE3-E911-A856-000D3A3627B3.json
{"properties":{"connectionReferences":{"shared_commondataservice_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_office365users":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_office365users"}},"shared_powerplatformforadmins":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_powerplatformforadmins"}},"shared_commondataservice_4":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_updated":{"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SubscribeOnUpdatedItems"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_4']['connectionId']"}},"body":{"NotificationUrl":"@{listCallbackUrl()}"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_environments'))}/onupdateditemswebhook","queries":{"scope":"Organization"},"authentication":"@parameters('$authentication')"}}},"actions":{"Initialize_today_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"today","type":"String","value":"@{utcNow()}"}]},"description":"Used to identify the 'Record Modified' field on all resource entities"},"Initialize_Flow_Environment_variable":{"runAfter":{"Initialize_today_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"flowEnvironment","type":"String"}]},"description":"Environment location specific Flow URL"},"List_Environment_Variable_-_admin_PowerAutomateEnvironmentVariable":{"runAfter":{"Initialize_Flow_Environment_variable":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('environmentvariabledefinitions'))}/items","queries":{"$filter":"schemaname eq 'admin_PowerAutomateEnvironmentVariable'"},"authentication":"@parameters('$authentication')"}},"Set_Flow_Environment_Variable":{"foreach":"@body('List_Environment_Variable_-_admin_PowerAutomateEnvironmentVariable')?['value']","actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"flowEnvironment","value":"@items('Set_Flow_Environment_Variable')?['defaultvalue']"}}},"runAfter":{"List_Environment_Variable_-_admin_PowerAutomateEnvironmentVariable":["Succeeded"]},"type":"Foreach"},"Get_Model_Driven_Apps_fails_-_Error_Handling":{"actions":{"Create_a_new_record_-_Sync_Flow_Errors":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"post","body":{"admin_name":"Admin | Sync Template v2 (Model Driven Apps)","admin_environmentname":"@triggerBody()?['admin_displayname']","admin_flowinstanceurl":"@{concat(variables('flowEnvironment'), workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])}","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_syncflowerrorses'))}/items","authentication":"@parameters('$authentication')"}},"Terminate":{"runAfter":{"Create_a_new_record_-_Sync_Flow_Errors":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"500","message":"Get Model Driven Apps Failed"}}}},"runAfter":{"Get_Model_Driven_Apps_and_store_in_CoE_CDS_Entity":["Failed"]},"type":"Scope"},"Get_Model_Driven_Apps_and_store_in_CoE_CDS_Entity":{"actions":{"Check_if_Environment_Deleted":{"actions":{"Condition:_Check_if_Environment_has_CDS_for_Apps":{"actions":{"List_Model_Driven_Apps":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent(body('Get_Environment_as_Admin')?['properties']?['linkedEnvironmentMetadata']?['uniqueName'],'.', first(split(body('Get_Environment_as_Admin')?['properties']?['linkedEnvironmentMetadata']?['hostNameSuffix'], '.'))))}/tables/@{encodeURIComponent(encodeURIComponent('appmodules'))}/items","authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Apply_to_each_Model_Driven_App":{"foreach":"@body('List_Model_Driven_Apps')?['value']","actions":{"Parse_Model_Driven_App_JSON":{"runAfter":{},"type":"ParseJson","inputs":{"content":"@items('Apply_to_each_Model_Driven_App')","schema":{"type":"object","properties":{"@@odata.id":{"type":"string"},"@@odata.etag":{"type":"string"},"ItemInternalId":{"type":"string"},"overwritetime":{"type":"string"},"isfeatured":{"type":"boolean"},"_organizationid_value":{"type":"string"},"_organizationid_type":{"type":"string"},"descriptor":{"type":"string"},"solutionid":{"type":"string"},"uniquename":{"type":"string"},"formfactor":{"type":"integer"},"ismanaged":{"type":"boolean"},"appmoduleidunique":{"type":"string"},"navigationtype":{"type":"integer"},"_navigationtype_label":{"type":"string"},"appmoduleid":{"type":"string"},"createdon":{"type":"string"},"componentstate":{"type":"integer"},"_componentstate_label":{"type":"string"},"modifiedon":{"type":"string"},"_modifiedby_value":{"type":"string"},"_modifiedby_type":{"type":"string"},"versionnumber":{"type":"integer"},"webresourceid":{"type":"string"},"isdefault":{"type":"boolean"},"name":{"type":"string"},"_createdby_value":{"type":"string"},"_createdby_type":{"type":"string"}}}}},"Get_MDD_App_Creator":{"runAfter":{"Parse_Model_Driven_App_JSON":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent(body('Get_Environment_as_Admin')?['properties']?['linkedEnvironmentMetadata']?['uniqueName'],'.', first(split(body('Get_Environment_as_Admin')?['properties']?['linkedEnvironmentMetadata']?['hostNameSuffix'], '.'))))}/tables/@{encodeURIComponent(encodeURIComponent('systemusers'))}/items/@{encodeURIComponent(encodeURIComponent(body('Parse_Model_Driven_App_JSON')?['_createdby_value']))}","authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Check_if_made_by_System":{"actions":{"Upsert_Model_Driven_App_(created_by_SYSTEM)":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"patch","body":{"admin_displayname":"@body('Parse_Model_Driven_App_JSON')?['name']","admin_appcreatedon":"@body('Parse_Model_Driven_App_JSON')?['createdon']","admin_appdeleted":false,"admin_appmodifiedon":"@body('Parse_Model_Driven_App_JSON')?['modifiedon']","admin_appownerdisplayname":"SYSTEM","admin_powerappstype":597910001,"admin_recordmodified":"@variables('today')","_admin_appenvironment_value":"@{outputs('Remove_any_Environment_prefix')}","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_apps'))}/items/@{encodeURIComponent(encodeURIComponent(body('Parse_Model_Driven_App_JSON')?['ItemInternalId']))}","authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"Get_MDD_App_Creator":["Succeeded"]},"else":{"actions":{"Get_user_profile_(V2)":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"UserProfile_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365users']['connectionId']"}},"method":"get","path":"/codeless/v1.0/users/@{encodeURIComponent(body('Get_MDD_App_Creator')?['azureactivedirectoryobjectid'])}","authentication":"@parameters('$authentication')"}},"Upsert_Model_Driven_App":{"runAfter":{"Upsert_Model_Driven_App_Maker":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"patch","body":{"admin_displayname":"@body('Parse_Model_Driven_App_JSON')?['name']","_admin_appowner_value":"@body('Get_user_profile_(V2)')?['id']","admin_appcreatedon":"@body('Parse_Model_Driven_App_JSON')?['createdon']","admin_appdeleted":false,"admin_appmodifiedon":"@body('Parse_Model_Driven_App_JSON')?['modifiedon']","admin_powerappstype":597910001,"admin_recordmodified":"@variables('today')","_admin_appenvironment_value":"@{outputs('Remove_any_Environment_prefix')}","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_apps'))}/items/@{encodeURIComponent(encodeURIComponent(body('Parse_Model_Driven_App_JSON')?['ItemInternalId']))}","authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Upsert_Model_Driven_App_Maker":{"runAfter":{"Get_user_profile_(V2)":["Succeeded","Failed"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"patch","body":{"admin_displayname":"@body('Get_user_profile_(V2)')?['displayName']","admin_city":"@body('Get_user_profile_(V2)')?['city']","admin_country":"@body('Get_user_profile_(V2)')?['country']","admin_department":"@body('Get_user_profile_(V2)')?['department']","admin_jobtitle":"@body('Get_user_profile_(V2)')?['jobTitle']","admin_office":"@body('Get_user_profile_(V2)')?['officeLocation']","admin_userprincipalname":"@body('Get_user_profile_(V2)')?['userPrincipalName']","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_makers'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_user_profile_(V2)')?['id']))}","authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"expression":{"equals":["@body('Get_MDD_App_Creator')?['fullname']","SYSTEM"]},"type":"If"}},"runAfter":{"List_Model_Driven_Apps":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":50}}}},"runAfter":{"Remove_any_Environment_prefix":["Succeeded"]},"expression":{"not":{"equals":["@body('Get_Environment_as_Admin')?['properties']?['linkedEnvironmentMetadata']","@null"]}},"type":"If"},"Remove_any_Environment_prefix":{"runAfter":{"Name_Length":["Succeeded"]},"type":"Compose","inputs":"@substring(body('Get_Environment_as_Admin')?['name'], int(outputs('Name_Length')), 36)","description":"Returns the GUID without any prefix (right 36 chars)"},"Name_Length":{"runAfter":{"Get_Environment_as_Admin":["Succeeded"]},"type":"Compose","inputs":"@sub(length(body('Get_Environment_as_Admin')?['name']), 36)","description":"Returns the index where the GUID starts"},"Get_Environment_as_Admin":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetSingleEnvironment"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_powerplatformforadmins']['connectionId']"}},"method":"get","path":"/environments/@{encodeURIComponent(triggerBody()?['admin_environmentname'])}","queries":{"api-version":"2018-10-01"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"not":{"equals":["@triggerBody()?['admin_environmentdeleted']","@true"]}},"type":"If"}},"runAfter":{"Set_Flow_Environment_Variable":["Succeeded"]},"type":"Scope"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}