Administration/CoEStarterKit/src/PowerPlatformAdmin/Workflows/AdminSyncTemplatev2Connectors-9737B2F2-ABE3-E911-A856-000D3A3627B3.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_powerplatformforadmins_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_powerplatformforadmins"}},"shared_powerappsforappmakers":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_powerappsforappmakers"}},"shared_commondataservice_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"schedule":{"hours":["1"]}},"type":"Recurrence"}},"actions":{"Initialize_today_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"today","type":"String","value":"@{utcNow()}"}]},"description":"Used to identify the 'Record Modified' field on all resource entities"},"Initialize_Flow_Environment_variable":{"runAfter":{"Initialize_today_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"flowEnvironment","type":"String"}]},"description":"Environment location specific Flow URL - remember / at the end"},"Get_Connectors_and_store_in_CoE_CDS_Entity":{"actions":{"Apply_to_each_Standard_Connector":{"foreach":"@body('Get_Connectors')?['value']","actions":{"Get_Connector_Record":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_connectors'))}/items","queries":{"$filter":"admin_name eq '@{items('Apply_to_each_Standard_Connector')?['name']}'"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Check_if_the_connector_is_custom":{"actions":{"Upsert_Connector_record":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"patch","body":{"admin_displayname":"@items('Apply_to_each_Standard_Connector')?['properties']?['displayName']","admin_name":"@items('Apply_to_each_Standard_Connector')?['name']","admin_backgroundcolor":"@items('Apply_to_each_Standard_Connector')?['properties']?['metadata']?['brandColor']","admin_connectorcreateddatetime":"@items('Apply_to_each_Standard_Connector')?['properties']?['createdTime']","admin_iconuri":"@items('Apply_to_each_Standard_Connector')?['properties']?['iconUri']","admin_connectormodified":"@items('Apply_to_each_Standard_Connector')?['properties']?['changedTime']","admin_iscustomapi":false,"admin_publisher":"@items('Apply_to_each_Standard_Connector')?['properties']?['publisher']","admin_tier":"@items('Apply_to_each_Standard_Connector')?['properties']?['tier']","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_connectors'))}/items/@{encodeURIComponent(encodeURIComponent(outputs('Get_Connector_GUID_or_create_one')))}","authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"Get_Connector_GUID_or_create_one":["Succeeded"]},"expression":{"equals":["@items('Apply_to_each_Standard_Connector')?['properties']?['isCustomApi']","@false"]},"type":"If"},"Filter_Standard_Connector":{"runAfter":{"Get_Connector_Record":["Succeeded"]},"type":"Query","inputs":{"from":"@body('List_initial_Connector_records')?['value']","where":"@equals(item()?['admin_name'], items('Apply_to_each_Standard_Connector')?['name'])"}},"Get_Connector_GUID_or_create_one":{"runAfter":{"Filter_Standard_Connector":["Succeeded"]},"type":"Compose","inputs":"@if(not(empty(body('Filter_Standard_Connector'))), first(body('Filter_Standard_Connector'))?['admin_connectorid'], guid())"}},"runAfter":{"Get_Connectors":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":50}}},"List_initial_Connector_records":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_connectors'))}/items","authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":10000}}},"Get_Environments":{"runAfter":{"List_initial_Connector_records":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"Get-AdminEnvironment"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_powerplatformforadmins_1']['connectionId']"}},"method":"get","path":"/environments","queries":{"api-version":"2018-10-01"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":10000}}},"Get_Connectors":{"runAfter":{"Get_Environments":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"Get-Connectors"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_powerappsforappmakers']['connectionId']"}},"method":"get","path":"/providers/Microsoft.PowerApps/apis","queries":{"showApisWithToS":"true","$filter":"environment eq '@{first(body('Get_Environments')?['value'])?['name']}'","api-version":"2016-11-01"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Set_Flow_Environment_Variable":["Succeeded"]},"type":"Scope"},"List_Environment_Variable_-_admin_PowerAutomateEnvironmentVariable":{"runAfter":{"Initialize_Flow_Environment_variable":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('environmentvariabledefinitions'))}/items","queries":{"$filter":"schemaname eq 'admin_PowerAutomateEnvironmentVariable'"},"authentication":"@parameters('$authentication')"}},"Set_Flow_Environment_Variable":{"foreach":"@body('List_Environment_Variable_-_admin_PowerAutomateEnvironmentVariable')?['value']","actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"flowEnvironment","value":"@items('Set_Flow_Environment_Variable')?['defaultvalue']"}}},"runAfter":{"List_Environment_Variable_-_admin_PowerAutomateEnvironmentVariable":["Succeeded"]},"type":"Foreach"},"Get_Connectors_fails_-_Error_Handling":{"actions":{"Create_a_new_record_-_Sync_Flow_Errors":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"post","body":{"admin_name":"Admin | Sync Template v2 (Connectors)","admin_flowinstanceurl":"@{concat(variables('flowEnvironment'), workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])}","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_syncflowerrorses'))}/items","authentication":"@parameters('$authentication')"}},"Terminate":{"runAfter":{"Create_a_new_record_-_Sync_Flow_Errors":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"500","message":"Get Connectors failed"}}}},"runAfter":{"Get_Connectors_and_store_in_CoE_CDS_Entity":["Failed"]},"type":"Scope"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}