Administration/CoEStarterKit/src/PowerPlatformAdmin/Workflows/AdminAppArchiveandCleanUp-StartApproval-10610458-CBEE-E911-A86A-000D3A37207B.json
{"properties":{"connectionReferences":{"shared_powerplatformforadmins":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_powerplatformforadmins"}},"shared_powerappsforadmins":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_powerappsforadmins"}},"shared_approvals":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_approvals"}},"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_commondataservice_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Week","interval":1,"startTime":"2019-10-10T00:00:00Z","schedule":{"weekDays":["Monday"],"hours":["10"]}},"type":"Recurrence"}},"actions":{"List_Environments_as_Admin":{"runAfter":{"Set_Admin_Mail_Variable":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"Get-AdminEnvironment"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_powerplatformforadmins']['connectionId']"}},"method":"get","path":"/environments","queries":{"api-version":"2018-10-01"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":10000}}},"Apply_to_each_Environment":{"foreach":"@body('List_Environments_as_Admin')?['value']","actions":{"Get_Apps_as_Admin":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"Get-AdminApps"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_powerappsforadmins']['connectionId']"}},"method":"get","path":"/providers/Microsoft.PowerApps/scopes/admin/environments/@{encodeURIComponent(items('Apply_to_each_Environment')?['name'])}/apps","queries":{"api-version":"2016-11-01","$top":2},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Apply_to_each_App":{"foreach":"@body('Get_Apps_as_Admin')?['value']","actions":{"Check_if_App_has_been_modified_in_the_last_x_months":{"actions":{"Create_an_approval":{"runAfter":{},"limit":{"timeout":"P5D"},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CreateAnApproval"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_approvals']['connectionId']"}},"method":"post","body":{"title":"Your app @{items('Apply_to_each_App')?['properties']?['displayName']} has been flagged for archiving","assignedTo":"@{coalesce(items('Apply_to_each_App')?['properties']?['owner']?['email'], variables('adminMail'))}","details":"@{if(empty(items('Apply_to_each_App')?['properties']?['owner']?['email']), 'OWNER DOES NOT EXIST. APPROVAL SENT TO ADMIN.', '')}\nYou own an app that has not been modified since @{formatDateTime(items('Apply_to_each_App')?['properties']?['lastModifiedTime'], 'dd MMM yyy')}  and has therefore been flagged for archiving.  Please confirm this app can be archived by approving this task; or provide a business justification if you reject. \n\nApp Name: @{items('Apply_to_each_App')?['properties']?['displayName']}\nApp ID: @{items('Apply_to_each_App')?['name']}\nEnvironment: @{items('Apply_to_each_App')?['properties']?['environment']?['name']}\n\nNote: If you select approve, the app will be removed from the PowerApps Maker Portal as a file in the archive, from where it can be restored should you need it again. If you select reject, please re-publish your app to avoid receving this email again. \n","enableNotifications":true,"enableReassignment":true},"path":"/types/@{encodeURIComponent('BasicAwaitAll')}","authentication":"@parameters('$authentication')"}},"Create_a_new_record":{"runAfter":{"Create_an_approval":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"post","body":{"admin_name":"@items('Apply_to_each_App')?['name']","admin_appdisplayname":"@items('Apply_to_each_App')?['properties']?['displayName']","admin_appenvironmentname":"@items('Apply_to_each_App')?['properties']?['environment']?['name']","admin_appname":"@items('Apply_to_each_App')?['name']","admin_appowneremail":"@items('Apply_to_each_App')?['properties']?['owner']?['email']","admin_appownername":"@items('Apply_to_each_App')?['properties']?['owner']?['displayName']","admin_appreadonlyvalue":"@items('Apply_to_each_App')?['properties']?['appUris']?['documentUri']?['readonlyValue']","admin_approvalid":"@body('Create_an_approval')?['name']","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_archiveapprovals'))}/items","authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"lessOrEquals":["@items('Apply_to_each_App')?['properties']?['lastModifiedTime']","@body('Get_past_time')"]},"type":"If"}},"runAfter":{"Get_Apps_as_Admin":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":50}}}},"runAfter":{"List_Environments_as_Admin":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":50}}},"Get_past_time":{"runAfter":{},"type":"Expression","kind":"GetPastTime","inputs":{"interval":6,"timeUnit":"Month"},"description":"If the app has not been modified in the past x months, an approval to archive will trigger. Update your desired archive months here."},"Initialize_adminMail":{"runAfter":{"Get_past_time":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"adminMail","type":"String"}]}},"List_Environment_Variable_-_admin_AdminMail":{"runAfter":{"Initialize_adminMail":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('environmentvariabledefinitions'))}/items","queries":{"$filter":"schemaname eq 'admin_AdminMail'"},"authentication":"@parameters('$authentication')"}},"Set_Admin_Mail_Variable":{"foreach":"@body('List_Environment_Variable_-_admin_AdminMail')?['value']","actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"adminMail","value":"@items('Set_Admin_Mail_Variable')?['defaultvalue']"}}},"runAfter":{"List_Environment_Variable_-_admin_AdminMail":["Succeeded"]},"type":"Foreach"}}}},"schemaVersion":"1.0.0.0"}