Administration/CoEStarterKit/src/PowerPlatformAdmin/Workflows/AdminSyncTemplatev2CustomConnectors-B043CBF3-ABE3-E911-A86D-000D3A372701.json
{"properties":{"connectionReferences":{"shared_commondataservice_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_office365users":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_office365users"}},"shared_powerappsforadmins":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_powerappsforadmins"}},"shared_commondataservice_4":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_updated":{"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SubscribeOnUpdatedItems"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_4']['connectionId']"}},"body":{"NotificationUrl":"@{listCallbackUrl()}"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_environments'))}/onupdateditemswebhook","queries":{"scope":"Organization"},"authentication":"@parameters('$authentication')"}}},"actions":{"Initialize_today_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"today","type":"String","value":"@{utcNow()}"}]},"description":"Used to identify the 'Record Modified' field on all resource entities"},"Initialize_Flow_Environment_variable":{"runAfter":{"Initialize_today_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"flowEnvironment","type":"String"}]},"description":"Environment location specific Flow URL - remember / at the end"},"List_Environment_Variable_-_admin_PowerAutomateEnvironmentVariable":{"runAfter":{"Initialize_Flow_Environment_variable":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('environmentvariabledefinitions'))}/items","queries":{"$filter":"schemaname eq 'admin_PowerAutomateEnvironmentVariable'"},"authentication":"@parameters('$authentication')"}},"Set_Flow_Environment_Variable":{"foreach":"@body('List_Environment_Variable_-_admin_PowerAutomateEnvironmentVariable')?['value']","actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"flowEnvironment","value":"@items('Set_Flow_Environment_Variable')?['defaultvalue']"}}},"runAfter":{"List_Environment_Variable_-_admin_PowerAutomateEnvironmentVariable":["Succeeded"]},"type":"Foreach"},"Get_Custom_Connectors_fails_-_Error_Handling":{"actions":{"Create_a_new_record_-_Sync_Flow_Errors":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"post","body":{"admin_name":"Admin | Sync Template v2 (Custom Connectors)","admin_environmentname":"@triggerBody()?['admin_displayname']","admin_flowinstanceurl":"@{concat(variables('flowEnvironment'), workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])}","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_syncflowerrorses'))}/items","authentication":"@parameters('$authentication')"}},"Terminate":{"runAfter":{"Create_a_new_record_-_Sync_Flow_Errors":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"500","message":"Get Custom Connectors Failed"}}}},"runAfter":{"Get_Custom_Connectors_and_store_them_in_CoE_CDS_Entity":["Failed"]},"type":"Scope"},"Get_Custom_Connectors_and_store_them_in_CoE_CDS_Entity":{"actions":{"Check_if_Environment_is_deleted":{"actions":{"Apply_to_each_Connector":{"foreach":"@body('Get_Custom_Connectors_as_Admin')?['value']","actions":{"GET_connector_swagger_JSON":{"runAfter":{},"type":"Http","inputs":{"method":"GET","uri":"@items('Apply_to_each_Connector')?['properties']?['apiDefinitions']?['modifiedSwaggerUrl']"}},"Parse_swagger_JSON":{"runAfter":{"GET_connector_swagger_JSON":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('GET_connector_swagger_JSON')","schema":{"type":"object","properties":{"swagger":{"type":"string"},"info":{"type":"object","properties":{"version":{"type":"string"},"title":{"type":"string"},"description":{"type":"string"}}},"host":{"type":"string"},"basePath":{"type":"string"},"schemes":{"type":"array","items":{"type":"string"}},"consumes":{"type":"array"},"produces":{"type":"array","items":{"type":"string"}},"definitions":{"type":"object","properties":{}},"parameters":{"type":"object","properties":{}},"responses":{"type":"object","properties":{}},"securityDefinitions":{"type":"object","properties":{"basic_auth":{"type":"object","properties":{"type":{"type":"string"}}}}},"security":{"type":"array"},"tags":{"type":"array"}}}}},"Find_connector_record":{"runAfter":{"Parse_swagger_JSON":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_connectors'))}/items","queries":{"$filter":"admin_displayname eq '@{items('Apply_to_each_Connector')?['properties']?['displayName']}'"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Compose_connector_upsert_guid":{"runAfter":{"Find_connector_record":["Succeeded"]},"type":"Compose","inputs":"@if(empty(body('Find_connector_record')?['value']), guid(), first(body('Find_connector_record')?['value'])?['admin_connectorid'])"},"Update_Custom_Connector_record":{"runAfter":{"Upsert_Connector_Maker_record":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"patch","body":{"admin_displayname":"@items('Apply_to_each_Connector')?['properties']?['displayName']","admin_name":"@items('Apply_to_each_Connector')?['name']","admin_backgroundcolor":"@items('Apply_to_each_Connector')?['properties']?['iconBrandColor']","admin_connectorcreateddatetime":"@items('Apply_to_each_Connector')?['properties']?['createdTime']","admin_iconuri":"@items('Apply_to_each_Connector')?['properties']?['iconUri']","admin_connectormodified":"@items('Apply_to_each_Connector')?['properties']?['changedTime']","admin_customconnectorhost":"@body('Parse_swagger_JSON')?['host']","admin_iscustomapi":true,"_admin_maker_value":"@items('Apply_to_each_Connector')?['properties']?['createdBy']?['id']","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_connectors'))}/items/@{encodeURIComponent(encodeURIComponent(outputs('Compose_connector_upsert_guid')))}","authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Get_Connector_creators_user_profile":{"runAfter":{"Compose_connector_upsert_guid":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"UserProfile_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365users']['connectionId']"}},"method":"get","path":"/codeless/v1.0/users/@{encodeURIComponent(items('Apply_to_each_Connector')?['properties']?['createdBy']?['id'])}","authentication":"@parameters('$authentication')"}},"Upsert_Custom_Connector_record_(abandoned)":{"runAfter":{"Get_Connector_creators_user_profile":["Failed"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"patch","body":{"admin_displayname":"@items('Apply_to_each_Connector')?['properties']?['displayName']","admin_name":"@items('Apply_to_each_Connector')?['name']","admin_backgroundcolor":"@items('Apply_to_each_Connector')?['properties']?['iconBrandColor']","admin_connectorcreateddatetime":"@items('Apply_to_each_Connector')?['properties']?['createdTime']","admin_iconuri":"@items('Apply_to_each_Connector')?['properties']?['iconUri']","admin_connectormodified":"@items('Apply_to_each_Connector')?['properties']?['changedTime']","admin_customconnectorhost":"@body('Parse_swagger_JSON')?['host']","admin_iscustomapi":true,"_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_connectors'))}/items/@{encodeURIComponent(encodeURIComponent(outputs('Compose_connector_upsert_guid')))}","authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Upsert_Connector_Maker_record":{"runAfter":{"Get_Connector_creators_user_profile":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"patch","body":{"admin_displayname":"@body('Get_Connector_creators_user_profile')?['displayName']","admin_city":"@body('Get_Connector_creators_user_profile')?['city']","admin_country":"@body('Get_Connector_creators_user_profile')?['country']","admin_department":"@body('Get_Connector_creators_user_profile')?['department']","admin_jobtitle":"@body('Get_Connector_creators_user_profile')?['jobTitle']","admin_office":"@body('Get_Connector_creators_user_profile')?['officeLocation']","admin_userprincipalname":"@body('Get_Connector_creators_user_profile')?['userPrincipalName']","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_makers'))}/items/@{encodeURIComponent(encodeURIComponent(items('Apply_to_each_Connector')?['properties']?['createdBy']?['id']))}","authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"Get_Custom_Connectors_as_Admin":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":50}}},"Get_Custom_Connectors_as_Admin":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"Get-AdminConnectors"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_powerappsforadmins']['connectionId']"}},"method":"get","path":"/providers/Microsoft.PowerApps/scopes/admin/environments/@{encodeURIComponent(triggerBody()?['admin_environmentname'])}/apis","queries":{"api-version":"2017-05-01","$top":250},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"not":{"equals":["@triggerBody()?['admin_environmentdeleted']","@true"]}},"type":"If"}},"runAfter":{"Set_Flow_Environment_Variable":["Succeeded"]},"type":"Scope"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}