Administration/CoEStarterKit/src/PowerPlatformAdmin/Workflows/AdminSyncTemplatev2-C7A4D3F2-ABE3-E911-A860-000D3A372932.json
{"properties":{"connectionReferences":{"shared_commondataservice_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_powerplatformforadmins_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_powerplatformforadmins"}},"shared_office365users":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_office365users"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"schedule":{"hours":["0"]}},"type":"Recurrence"}},"actions":{"Initialize_systemMaker":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"systemMaker","type":"String"}]},"description":"SYSTEM maker is used to identify the owner record for Environments generated by the system, such as the default environment"},"Initialize_today_variable":{"runAfter":{"Initialize_systemMaker":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"today","type":"String","value":"@{utcNow()}"}]},"description":"Used to identify the 'Record Modified' field on all resource entities"},"Get_Environments_fails_-_Error_Handling":{"actions":{"Create_a_new_record_-_Sync_Flow_Errors":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"post","body":{"admin_name":"Admin | Sync Template v2","admin_flowinstanceurl":"@{concat(variables('flowEnvironment'), workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])}","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_syncflowerrorses'))}/items","authentication":"@parameters('$authentication')"}},"Terminate":{"runAfter":{"Create_a_new_record_-_Sync_Flow_Errors":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"500","message":"Get Environments Failed"}}}},"runAfter":{"Get_Environments_and_store_them_in_the_CoE_CDS_Entity":["Failed"]},"type":"Scope"},"Initialize_Flow_Environment_variable":{"runAfter":{"Initialize_today_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"flowEnvironment","type":"String"}]},"description":"Environment location specific Flow URL"},"List_Environment_Variable_-_admin_PowerAutomateEnvironmentVariable":{"runAfter":{"Initialize_Flow_Environment_variable":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('environmentvariabledefinitions'))}/items","queries":{"$filter":"schemaname eq 'admin_PowerAutomateEnvironmentVariable'"},"authentication":"@parameters('$authentication')"}},"Set_Flow_Environment_Variable":{"foreach":"@body('List_Environment_Variable_-_admin_PowerAutomateEnvironmentVariable')?['value']","actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"flowEnvironment","value":"@items('Set_Flow_Environment_Variable')?['defaultvalue']"}}},"runAfter":{"List_Environment_Variable_-_admin_PowerAutomateEnvironmentVariable":["Succeeded"]},"type":"Foreach"},"Get_Environments_and_store_them_in_the_CoE_CDS_Entity":{"actions":{"List_Makers":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_makers'))}/items","authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":10000}}},"Get_SYSTEM_record":{"runAfter":{"List_Makers":["Succeeded"]},"type":"Query","inputs":{"from":"@body('List_Makers')?['value']","where":"@equals(item()?['admin_displayname'], 'SYSTEM')"}},"Get_Environments":{"runAfter":{"Get_SYSTEM_record":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"Get-AdminEnvironment"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_powerplatformforadmins_1']['connectionId']"}},"method":"get","path":"/environments","queries":{"api-version":"2018-10-01"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":10000}}},"Is_System_Maker":{"actions":{"Create_Maker_record_for_SYSTEM":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"post","body":{"admin_displayname":"SYSTEM","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_makers'))}/items","authentication":"@parameters('$authentication')"}},"Set_systemMaker_with_new_record":{"runAfter":{"Create_Maker_record_for_SYSTEM":["Succeeded"]},"type":"SetVariable","inputs":{"name":"systemMaker","value":"@body('Create_Maker_record_for_SYSTEM')?['admin_makerid']"}}},"runAfter":{"Get_Environments":["Succeeded"]},"else":{"actions":{"Set_systemMaker_with_existing_record":{"runAfter":{},"type":"SetVariable","inputs":{"name":"systemMaker","value":"@first(body('Get_SYSTEM_record'))?['admin_makerid']"}}}},"expression":{"equals":["@length(body('Get_SYSTEM_record'))",0]},"type":"If","description":"Initializes SYSTEM maker record"},"Apply_to_each_Environment":{"foreach":"@body('Get_Environments')?['value']","actions":{"Remove_any_Environment_prefix":{"runAfter":{"Name_Length":["Succeeded"]},"type":"Compose","inputs":"@substring(items('Apply_to_each_Environment')?['name'], int(outputs('Name_Length')), 36)","description":"Returns the GUID without any prefix (right 36 chars)"},"Check_if_SYSTEM_created_Environment":{"actions":{"Check_if_Preview_Environment":{"actions":{"Upsert_Environment_(SYSTEM_maker)_-_Preview":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"patch","body":{"admin_displayname":"@items('Apply_to_each_Environment')?['properties']?['displayName']","admin_environmentcdsinstanceurl":"@items('Apply_to_each_Environment')?['properties']?['linkedEnvironmentMetadata']?['instanceUrl']","admin_environmentcreatedon":"@items('Apply_to_each_Environment')?['properties']?['createdTime']","admin_environmentmakerdisplayname":"@items('Apply_to_each_Environment')?['properties']?['createdBy']?['displayName']","admin_environmentmodifiedon":"@items('Apply_to_each_Environment')?['properties']?['lastModifiedTime']","admin_region":"@items('Apply_to_each_Environment')?['location']","admin_environmentsku":"@items('Apply_to_each_Environment')?['properties']?['environmentSku']","admin_environmentname":"@items('Apply_to_each_Environment')?['name']","_admin_maker_value":"@variables('systemMaker')","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_environments'))}/items/@{encodeURIComponent(encodeURIComponent('00000000-0000-0000-0000-000000000000'))}","authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Upsert_Environment_(SYSTEM_maker)":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"patch","body":{"admin_displayname":"@items('Apply_to_each_Environment')?['properties']?['displayName']","admin_environmentcdsinstanceurl":"@items('Apply_to_each_Environment')?['properties']?['linkedEnvironmentMetadata']?['instanceUrl']","admin_environmentcreatedon":"@items('Apply_to_each_Environment')?['properties']?['createdTime']","admin_environmentmakerdisplayname":"@items('Apply_to_each_Environment')?['properties']?['createdBy']?['displayName']","admin_environmentmodifiedon":"@items('Apply_to_each_Environment')?['properties']?['lastModifiedTime']","admin_region":"@items('Apply_to_each_Environment')?['location']","admin_environmentsku":"@items('Apply_to_each_Environment')?['properties']?['environmentSku']","admin_environmentname":"@items('Apply_to_each_Environment')?['name']","_admin_maker_value":"@variables('systemMaker')","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_environments'))}/items/@{encodeURIComponent(encodeURIComponent(outputs('Remove_any_Environment_prefix')))}","authentication":"@parameters('$authentication')"}}}},"expression":{"contains":["@items('Apply_to_each_Environment')?['name']","Legacy-"]},"type":"If","description":"Preview and Default environments have the same GUID, prefixed by Legacy- or Default- which is causing issues as the Record Identifier is using the GUID as a unique identifier. We are therefore using a generated GUID for the entity."}},"runAfter":{"Remove_any_Environment_prefix":["Succeeded"]},"else":{"actions":{"Upsert_Environment":{"runAfter":{"Upsert_Environment_Maker":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"patch","body":{"admin_displayname":"@items('Apply_to_each_Environment')?['properties']?['displayName']","admin_environmentcdsinstanceurl":"@items('Apply_to_each_Environment')?['properties']?['linkedEnvironmentMetadata']?['instanceUrl']","admin_environmentcreatedon":"@items('Apply_to_each_Environment')?['properties']?['createdTime']","admin_environmentmodifiedon":"@items('Apply_to_each_Environment')?['properties']?['lastModifiedTime']","admin_region":"@items('Apply_to_each_Environment')?['location']","admin_environmentsku":"@items('Apply_to_each_Environment')?['properties']?['environmentSku']","admin_environmentname":"@items('Apply_to_each_Environment')?['name']","_admin_maker_value":"@items('Apply_to_each_Environment')?['properties']?['createdBy']?['id']","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_environments'))}/items/@{encodeURIComponent(encodeURIComponent(items('Apply_to_each_Environment')?['name']))}","authentication":"@parameters('$authentication')"}},"Get_user_profile_(V2)":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"UserProfile_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365users']['connectionId']"}},"method":"get","path":"/codeless/v1.0/users/@{encodeURIComponent(items('Apply_to_each_Environment')?['properties']?['createdBy']?['id'])}","authentication":"@parameters('$authentication')"}},"Upsert_Environment_Maker":{"runAfter":{"Get_user_profile_(V2)":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"patch","body":{"admin_displayname":"@items('Apply_to_each_Environment')?['properties']?['createdBy']?['displayName']","admin_city":"@body('Get_user_profile_(V2)')?['city']","admin_country":"@body('Get_user_profile_(V2)')?['country']","admin_department":"@body('Get_user_profile_(V2)')?['department']","admin_jobtitle":"@body('Get_user_profile_(V2)')?['jobTitle']","admin_office":"@body('Get_user_profile_(V2)')?['officeLocation']","admin_userprincipalname":"@body('Get_user_profile_(V2)')?['userPrincipalName']","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_makers'))}/items/@{encodeURIComponent(encodeURIComponent(items('Apply_to_each_Environment')?['properties']?['createdBy']?['id']))}","authentication":"@parameters('$authentication')"}},"Upsert_Environment_(abandoned)":{"runAfter":{"Get_user_profile_(V2)":["Failed"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"patch","body":{"admin_displayname":"@items('Apply_to_each_Environment')?['properties']?['displayName']","admin_environmentcdsinstanceurl":"@items('Apply_to_each_Environment')?['properties']?['linkedEnvironmentMetadata']?['instanceUrl']","admin_environmentcreatedon":"@items('Apply_to_each_Environment')?['properties']?['createdTime']","admin_environmentmodifiedon":"@items('Apply_to_each_Environment')?['properties']?['lastModifiedTime']","admin_region":"@items('Apply_to_each_Environment')?['location']","admin_environmentsku":"@items('Apply_to_each_Environment')?['properties']?['environmentSku']","admin_environmentname":"@items('Apply_to_each_Environment')?['name']","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_environments'))}/items/@{encodeURIComponent(encodeURIComponent(items('Apply_to_each_Environment')?['name']))}","authentication":"@parameters('$authentication')"}}}},"expression":{"or":[{"equals":["@items('Apply_to_each_Environment')?['properties']?['createdBy']?['id']","SYSTEM"]},{"equals":["@items('Apply_to_each_Environment')?['properties']?['createdBy']?['displayName']","SYSTEM"]}]},"type":"If"},"Name_Length":{"runAfter":{},"type":"Compose","inputs":"@sub(length(items('Apply_to_each_Environment')?['name']),36)","description":"Returns the index where the GUID starts"}},"runAfter":{"Is_System_Maker":["Succeeded"]},"type":"Foreach","description":"Iterates through all the environments in the tenant","runtimeConfiguration":{"concurrency":{"repetitions":50}}},"Mark_deleted_Environments_as_deleted_in_CDS_entity":{"actions":{"List_existing_Environments":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_environments'))}/items","authentication":"@parameters('$authentication')"}},"Apply_to_each_existing_Environment_to_find_deleted_Environments":{"foreach":"@body('List_existing_Environments')?['value']","actions":{"Check_if_current_Environment_list_contains_Environment_Display_Name":{"actions":{"Mark_Environment_as_deleted":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"patch","body":{"admin_displayname":"@items('Apply_to_each_existing_Environment_to_find_deleted_Environments')?['admin_displayname']","admin_environmentdeleted":true,"admin_environmentdeletedon":"@variables('today')","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_environments'))}/items/@{encodeURIComponent(encodeURIComponent(items('Apply_to_each_existing_Environment_to_find_deleted_Environments')?['admin_environmentid']))}","authentication":"@parameters('$authentication')"}}},"runAfter":{"Filter_enviornments":["Succeeded"]},"expression":{"equals":["@length(body('Filter_enviornments'))",0]},"type":"If"},"Filter_enviornments":{"runAfter":{},"type":"Query","inputs":{"from":"@body('Get_Environments')?['value']","where":"@equals(item()?['properties']?['displayName'], items('Apply_to_each_existing_Environment_to_find_deleted_Environments')?['admin_displayname'])"}}},"runAfter":{"List_existing_Environments":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Apply_to_each_Environment":["Succeeded","Failed"]},"type":"Scope"}},"runAfter":{"Set_Flow_Environment_Variable":["Succeeded"]},"type":"Scope"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}