Administration/CoEStarterKit/src/PowerPlatformAdmin/Workflows/AdminSyncTemplatev2Flows-9437B2F2-ABE3-E911-A856-000D3A3627B3.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_flowmanagement_2":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_flowmanagement"}},"shared_office365users":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_office365users"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_updated":{"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SubscribeOnUpdatedItems"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"body":{"NotificationUrl":"@{listCallbackUrl()}"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_environments'))}/onupdateditemswebhook","queries":{"scope":"Organization"},"authentication":"@parameters('$authentication')"}}},"actions":{"Initialize_today_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"today","type":"String","value":"@{utcNow()}"}]},"description":"Used to identify the 'Record Modified' field on all resource entities"},"Initialize_Flow_Environment_variable":{"runAfter":{"Initialize_today_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"flowEnvironment","type":"String"}]},"description":"Environment location specific Flow URL - remember / at the end"},"List_Environment_Variable_-_admin_PowerAutomateEnvironmentVariable":{"runAfter":{"Initialize_Flow_Environment_variable":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('environmentvariabledefinitions'))}/items","queries":{"$filter":"schemaname eq 'admin_PowerAutomateEnvironmentVariable'"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Set_Flow_Environment_Variable":{"foreach":"@body('List_Environment_Variable_-_admin_PowerAutomateEnvironmentVariable')?['value']","actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"flowEnvironment","value":"@items('Set_Flow_Environment_Variable')?['defaultvalue']"}}},"runAfter":{"List_Environment_Variable_-_admin_PowerAutomateEnvironmentVariable":["Succeeded"]},"type":"Foreach"},"Get_Flow_fails_-_Error_Handling":{"actions":{"Create_a_new_record_-_Sync_Flow_Errors":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"post","body":{"admin_name":"Admin | Sync Template v2 (Flows)","admin_environmentname":"@triggerBody()?['admin_displayname']","admin_flowinstanceurl":"@{concat(variables('flowEnvironment'), workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])}","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_syncflowerrorses'))}/items","authentication":"@parameters('$authentication')"}},"Terminate":{"runAfter":{"Create_a_new_record_-_Sync_Flow_Errors":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"500","message":"Get Flows Failed"}}}},"runAfter":{"Get_Flows_and_store_them_in_CoE_CDS_Entity":["Failed"]},"type":"Scope"},"Get_Flows_and_store_them_in_CoE_CDS_Entity":{"actions":{"Check_if_Environment_is_deleted":{"actions":{"Apply_to_each_existing_Flow_to_find_deleted_flows":{"foreach":"@body('Filter_existing_Flows_by_Environment')","actions":{"Check_if_current_Flow_list_contains_Flow_ID":{"actions":{"Mark_Flow_as_deleted":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"patch","body":{"admin_displayname":"@body('Parse_JSON')?['admin_displayname']","admin_flowdeleted":true,"admin_flowdeletedon":"@variables('today')","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_flows'))}/items/@{encodeURIComponent(encodeURIComponent(body('Parse_JSON')['ItemInternalId']))}","authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"Filter_Flows":["Succeeded"]},"expression":{"equals":["@length(body('Filter_Flows'))",0]},"type":"If"},"Filter_Flows":{"runAfter":{"Parse_JSON":["Succeeded"]},"type":"Query","inputs":{"from":"@body('List_Flows_as_Admin')?['value']","where":"@equals(string(item()?['name']), string(body('Parse_JSON')['ItemInternalId']))"}},"Parse_JSON":{"runAfter":{},"type":"ParseJson","inputs":{"content":"@items('Apply_to_each_existing_Flow_to_find_deleted_flows')","schema":{"type":"object","properties":{"ItemInternalId":{"type":"string"},"admin_displayname":{"type":"string"}},"required":["ItemInternalId"]}}}},"runAfter":{"Filter_existing_Flows_by_Environment":["Succeeded"]},"type":"Foreach"},"Filter_existing_Flows_by_Environment":{"runAfter":{"List_existing_Flows":["Succeeded"]},"type":"Query","inputs":{"from":"@body('List_existing_Flows')?['value']","where":"@equals(item()?['_admin_flowenvironment_value'], triggerBody()?['admin_environmentid'])"}},"List_existing_Flows":{"runAfter":{"Apply_to_each_Flow":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_flows'))}/items","authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":10000}}},"Apply_to_each_Flow":{"foreach":"@body('List_Flows_as_Admin')?['value']","actions":{"Apply_to_each_Flow_Connection":{"foreach":"@body('Filter_Flow_Connection_References')","actions":{"Delete_a_record":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"DeleteItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"delete","path":"/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_connectionreferences'))}/items/@{encodeURIComponent(encodeURIComponent(items('Apply_to_each_Flow_Connection')?['admin_connectionreferenceid']))}","authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"Filter_Flow_Connection_References":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":50}}},"Get_Flow_as_Admin":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"AdminGetFlow"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_flowmanagement_2']['connectionId']"}},"method":"get","path":"/scopes/admin/environments/@{encodeURIComponent(triggerBody()?['admin_environmentname'])}/flows/@{encodeURIComponent(items('Apply_to_each_Flow')?['name'])}","authentication":"@parameters('$authentication')"}},"Check_if_Flow_Connection_References_are_not_null":{"actions":{"Apply_to_each_Flow_Connection_Reference":{"foreach":"@body('Get_Flow_as_Admin')?['properties']?['connectionReferences']","actions":{"Create_a_new_Flow_Connection_Reference":{"runAfter":{"Filter_Flow_Connector":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"post","body":{"admin_displayname":"@items('Apply_to_each_Flow_Connection_Reference')?['apiDefinition']?['properties']?['displayName']","_admin_connector_value":"@{first(body('Filter_Flow_Connector'))?['admin_connectorid']}","_admin_flow_value":"@items('Apply_to_each_Flow')?['name']","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_connectionreferences'))}/items","authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Filter_Flow_Connector":{"runAfter":{},"type":"Query","inputs":{"from":"@body('List_Connectors')?['value']","where":"@equals(item()?['admin_displayname'], items('Apply_to_each_Flow_Connection_Reference')?['apiDefinition']?['properties']?['displayName'])"}}},"runAfter":{},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":50}}}},"runAfter":{"Apply_to_each_Flow_Connection":["Succeeded","Failed"]},"expression":{"not":{"equals":["@body('Get_Flow_as_Admin')?['properties']?['connectionReferences']","@null"]}},"type":"If"},"Upsert_Flow_Details":{"actions":{"Get_Flow_Creator_profile":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"UserProfile_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365users']['connectionId']"}},"method":"get","path":"/codeless/v1.0/users/@{encodeURIComponent(items('Apply_to_each_Flow')?['properties']?['creator']?['objectId'])}","authentication":"@parameters('$authentication')"}},"Upsert_Flow_Maker":{"runAfter":{"Get_Flow_Creator_profile":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"patch","body":{"admin_displayname":"@body('Get_Flow_Creator_profile')?['displayName']","admin_city":"@body('Get_Flow_Creator_profile')?['city']","admin_country":"@body('Get_Flow_Creator_profile')?['country']","admin_department":"@body('Get_Flow_Creator_profile')?['department']","admin_jobtitle":"@body('Get_Flow_Creator_profile')?['jobTitle']","admin_office":"@body('Get_Flow_Creator_profile')?['officeLocation']","admin_userprincipalname":"@body('Get_Flow_Creator_profile')?['userPrincipalName']","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_makers'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Flow_as_Admin')?['properties']?['creator']?['objectId']))}","authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Upsert_Flow_record":{"runAfter":{"Upsert_Flow_Maker":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"patch","body":{"admin_displayname":"@items('Apply_to_each_Flow')?['properties']?['displayName']","_admin_flowenvironment_value":"@triggerBody()?['admin_environmentid']","admin_flowcreatedon":"@items('Apply_to_each_Flow')?['properties']?['createdTime']","admin_flowcreatorupn":"@body('Get_Flow_as_Admin')?['properties']?['creator']?['userId']","admin_flowdeleted":false,"admin_flowmakerdisplayname":"@body('Get_Flow_Creator_profile')?['displayName']","admin_flowmodifiedon":"@items('Apply_to_each_Flow')?['properties']?['lastModifiedTime']","admin_flowstate":"@body('Get_Flow_as_Admin')['properties']['state']","_admin_flowcreator_value":"@body('Get_Flow_as_Admin')?['properties']?['creator']?['objectId']","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_flows'))}/items/@{encodeURIComponent(encodeURIComponent(items('Apply_to_each_Flow')?['name']))}","authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Upsert_Flow_record_(creator_not_found)":{"runAfter":{"Get_Flow_Creator_profile":["Failed"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"patch","body":{"admin_displayname":"@items('Apply_to_each_Flow')?['properties']?['displayName']","_admin_flowenvironment_value":"@triggerBody()?['admin_environmentid']","admin_flowcreatedon":"@items('Apply_to_each_Flow')?['properties']?['createdTime']","admin_flowdeleted":false,"admin_flowmakerdisplayname":"Unknown","admin_flowmodifiedon":"@items('Apply_to_each_Flow')?['properties']?['lastModifiedTime']","admin_flowstate":"@body('Get_Flow_as_Admin')['properties']['state']","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_flows'))}/items/@{encodeURIComponent(encodeURIComponent(items('Apply_to_each_Flow')?['name']))}","authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"Get_Flow_as_Admin":["Succeeded"]},"type":"Scope"},"Filter_Flow_Connection_References":{"runAfter":{"Upsert_Flow_Details":["Succeeded","Failed"]},"type":"Query","inputs":{"from":"@body('List_Existing_Connection_References')?['value']","where":"@equals(item()?['_admin_flow_value'], items('Apply_to_each_Flow')?['name'])"}},"Get_Flow_Action_Details":{"actions":{"Remove_duplicate_entries_from_actions":{"runAfter":{"Create_array_of_actions_for_this_flow":["Succeeded"]},"type":"Compose","inputs":"@union(body('Create_array_of_actions_for_this_flow'), json('[]'))"},"Parse_Flow_Actions":{"runAfter":{"Remove_duplicate_entries_from_actions":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@outputs('Remove_duplicate_entries_from_actions')","schema":{"type":"array","items":{"type":"object","properties":{"ActionType":{"type":"string"},"Operation":{"type":"string"},"Connector":{"type":"string"}},"required":["ActionType"]}}}},"List_Existing_Flow_Action_References":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_flowactiondetails'))}/items","queries":{"$filter":"_admin_flow_value eq '@{items('Apply_to_each_Flow')?['name']}'"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"Create_array_of_actions_for_this_flow":{"runAfter":{"Delete_existing_action_references":["Succeeded"]},"type":"Select","inputs":{"from":"@body('Get_Flow_as_Admin')?['properties']?['definitionSummary']?['actions']","select":{"ActionType":"@if(contains(item()['Type'], 'ApiConnection'), coalesce(item()?['api']?['properties']?['displayname'],item()['Type']) , item()['Type'])","Operation":"@if(contains(item()['Type'], 'ApiConnection'), item()['swaggerOperationId'], '')"}}},"Delete_existing_action_references":{"foreach":"@body('List_Existing_Flow_Action_References')?['value']","actions":{"Delete_action_reference":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"DeleteItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"delete","path":"/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_flowactiondetails'))}/items/@{encodeURIComponent(encodeURIComponent(items('Delete_existing_action_references')?['admin_flowactiondetailid']))}","authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Existing_Flow_Action_References":["Succeeded"]},"type":"Foreach"},"Apply_to_each_Flow_Action":{"foreach":"@body('Parse_Flow_Actions')","actions":{"Insert_Flow_Actions_Details":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"post","body":{"_ownerid_type":"","admin_actiontype":"@items('Apply_to_each_Flow_Action')['ActionType']","admin_operation":"@items('Apply_to_each_Flow_Action')?['Operation']","_admin_flow_value":"@items('Apply_to_each_Flow')?['name']"},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_flowactiondetails'))}/items","authentication":"@parameters('$authentication')"}}},"runAfter":{"Parse_Flow_Actions":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Check_if_Flow_Connection_References_are_not_null":["Succeeded","Failed"]},"type":"Scope"}},"runAfter":{"List_Flows_as_Admin":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":50}}},"List_Flows_as_Admin":{"runAfter":{"List_Connectors":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"ListFlowsInEnvironment"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_flowmanagement_2']['connectionId']"}},"method":"get","path":"/scopes/admin/environments/@{encodeURIComponent(triggerBody()?['admin_environmentname'])}/flows","authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":10000}}},"List_Connectors":{"runAfter":{"List_Existing_Connection_References":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_connectors'))}/items","authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":1000}}},"List_Existing_Connection_References":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_connectionreferences'))}/items","authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":10000}}}},"runAfter":{},"expression":{"not":{"equals":["@triggerBody()?['admin_environmentdeleted']","@true"]}},"type":"If"}},"runAfter":{"Set_Flow_Environment_Variable":["Succeeded"]},"type":"Scope"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}