Administration/CoEStarterKit/src/PowerPlatformAdmin/Workflows/AdminCompliancedetailrequest-11F2FF3D-0987-E911-A856-000D3A372932.json
{"properties":{"connectionReferences":{"shared_commondataservice_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_office365_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_office365"}},"shared_office365users_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_office365users"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Week","interval":1,"schedule":{"weekDays":["Monday"]}},"type":"Recurrence"}},"actions":{"List_Apps":{"runAfter":{"Set_Developer_Compliance_Center_URL":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_apps'))}/items","queries":{"$filter":"_admin_appowner_value ne null and admin_appownerdisplayname ne 'SYSTEM'"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_App":{"foreach":"@body('List_Apps')?['value']","actions":{"Maker_has_submitted_business_requirements":{"actions":{"App_missing_mitigation_plan":{"actions":{"Send_an_email_(V2)_3":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365_1']['connectionId']"}},"method":"post","body":{"To":"@{body('Get_user_profile_(V2)')?['mail']};","Subject":"Mitigation Plan required to stay compliant","Body":"@{variables('htmlHeader')}\n<body>\n<div id='content'>\n<table id='form'>\n<tr><td><img id='logo' src='@{variables('logoUrl')}'></td></tr>\n<tr><td><p id='header'>PowerApps</p></td></tr>\n<tr id='ribbon'><td>\n<table id='ribbonContent'><tr><td>Keep your app updated to stay compliant.</td>\n<td><img src='https://az158878.vo.msecnd.net/marketing/Partner_21474836617/Product_42949681655/Asset_5497565b-7b50-4cea-98a0-3814524d4228/Windows300x300.png' height=60></td>\n</tr></table></td></tr>\n<tr id='message'><td>\n<p>You own an app that has not been updated recently or is missing a description. Please keep your app updated to ensure it continues to function correctly. Review these requirements in the Developer Compliance Center app.<br>\n<br>\n<b>App Details</b><br>\n<table id='app'>\n<tr><td class='label'>Display Name</td><td>@{items('Apply_to_each_App')?['admin_displayname']}</td></tr>\n<tr><td class='label'>Environment</td><td>@{items('Apply_to_each_App')?['admin_appenvironmentdisplayname']}</td></tr>\n</table>\n<br><br>\n<b>Instructions</b><br>\n<ol>\n<li>Login to the <a href='@{variables('compliancePortalUrl')}?appName=@{items('Apply_to_each_App')?['admin_appid']}'>Developer Compliance Center</a> and locate your app.</li>\n<li>Provide a Mitigation plan in the form of an attachment.</li>\n<li>Update the 'Mitigation plan provided' toggle to 'Yes'.</li>\n</ol></p></td></tr>\n<tr id='footer'><td>Questions? Get help from our community <a href='@{variables('communityUrl')}'>Yammer Group</a>.</td></tr>\n</table>\n</div>\n</body>"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"App_is_recently_published_and_has_description":{"actions":{"Compose":{"runAfter":{},"type":"Compose","inputs":{"published":"@{items('Apply_to_each_App')?['admin_apppublished']}","expiration":"@{addDays(items('Apply_to_each_App')?['admin_apppublished'],60)}","hasExpired":"@lessOrEquals(addDays(items('Apply_to_each_App')?['admin_apppublished'],60), utcNow())"}}},"runAfter":{},"else":{"actions":{"Send_an_email_(V2)_2":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365_1']['connectionId']"}},"method":"post","body":{"To":"@{body('Get_user_profile_(V2)')?['mail']};","Subject":"Keep your app updated to stay compliant","Body":"@{variables('htmlHeader')}\n<body>\n<div id='content'>\n<table id='form'>\n<tr><td><img id='logo' src='@{variables('logoUrl')}'></td></tr>\n<tr><td><p id='header'>PowerApps</p></td></tr>\n<tr id='ribbon'><td>\n<table id='ribbonContent'><tr><td>Keep your app updated to stay compliant.</td>\n<td><img src='https://az158878.vo.msecnd.net/marketing/Partner_21474836617/Product_42949681655/Asset_5497565b-7b50-4cea-98a0-3814524d4228/Windows300x300.png' height=60></td>\n</tr></table></td></tr>\n<tr id='message'><td>\n<p>You own an app that has not been updated recently or is missing a description. Please keep your app updated to ensure it continues to function correctly. Review these requirements in the Developer Compliance Center app.<br>\n<br>\n<b>App Details</b><br>\n<table id='app'>\n<tr><td class='label'>Display Name</td><td>@{items('Apply_to_each_App')?['admin_displayname']}</td></tr>\n<tr><td class='label'>Environment</td><td>@{items('Apply_to_each_App')?['admin_appenvironmentdisplayname']}</td></tr>\n</table>\n<br><br>\n<b>Instructions</b><br>\n<ol>\n<li>Login to the <a href='@{variables('compliancePortalUrl')}?appName=@{items('Apply_to_each_App')?['admin_appid']}'>Developer Compliance Center</a> and locate your app.</li>\n<li>Update the description in the app settings page (link to this is available in the app).</li>\n<li>Open the app in the studio and make sure the app is working with the latest version of PowerApps. If there are no errors, make a small change to the app, save and re-publish so it's clear that the app is being maintained.</li>\n</ol></p></td></tr>\n<tr id='footer'><td>Questions? Get help from our community <a href='@{variables('communityUrl')}'>Yammer Group</a>.</td></tr>\n</table>\n</div>\n</body>"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}}}},"expression":{"and":[{"greater":["@addDays(items('Apply_to_each_App')?['admin_apppublished'],60)","@utcNow()"]},{"not":{"equals":["@items('Apply_to_each_App')?['admin_appdescription']","@null"]}}]},"type":"If","description":"Expiration date has not passed and description is not blank"}}},"expression":{"and":[{"equals":["@items('Apply_to_each_App')?['admin_requirement_4']","High"]},{"not":{"equals":["@items('Apply_to_each_App')?['admin_requirement_5']","@true"]}}]},"type":"If"}},"runAfter":{"Get_user_profile_(V2)":["Succeeded"]},"else":{"actions":{"Condition:_Audit_apps_that_are_broadly_shared":{"actions":{"Send_an_email_(V2)":{"runAfter":{"Create_a_new_record":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365_1']['connectionId']"}},"method":"post","body":{"To":"@{body('Get_user_profile_(V2)')?['mail']};","Subject":"Submit business justification details for your app","Body":"@{variables('htmlHeader')}\n<body>\n<div id='content'>\n<table id='form'>\n<tr><td><img id='logo' src='@{variables('logoUrl')}'></td></tr>\n<tr><td><p id='header'>PowerApps</p></td></tr>\n<tr id='ribbon'><td>\n<table id='ribbonContent'>\n<tr><td>Update your app details to stay compliant.</td>\n<td><img src='https://az158878.vo.msecnd.net/marketing/Partner_21474836617/Product_42949681655/Asset_5497565b-7b50-4cea-98a0-3814524d4228/Windows300x300.png' height=60></td>\n</tr></table></td></tr>\n<tr id='message'><td>\n<p>You own an app that's currently shared broadly and missing compliance details, which means it needs to be audited by an administrator per our support policy. Please complete the business justification details in the Developer Compliance Center app to document the intended use.<br>\n<br>\n<b>App Details</b><br>\n<table id='app'>\n<tr><td class='label'>Display Name</td><td>@{items('Apply_to_each_App')?['admin_displayname']}</td></tr>\n<tr><td class='label'>Environment</td><td>@{items('Apply_to_each_App')?['admin_appenvironmentdisplayname']}</td></tr>\n</table>\n<br><br>\n<b>Instructions</b><br>\n<ol>\n<li>Login to the <a href='@{variables('compliancePortalUrl')}?appName=@{items('Apply_to_each_App')?['admin_appid']}'>Developer Compliance Center</a> and locate your app.</li>\n<li>Enter your business justification and other details in the \"Support Details\" form.</li>\n<li>If your app indicates a high business impact, you must provide additional documentation for a mitigation plan and required support details.</li>\n</ol>\n</p>\n</td></tr>\n<tr id='footer'><td>Questions? Get help from our community <a href='@{variables('communityUrl')}'>Yammer Group</a>.</td></tr>\n</table>\n</div>\n</body>"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}},"Create_a_new_record":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"post","body":{"bpf_name":"Audit for @{items('Apply_to_each_App')?['admin_displayname']}","activestagestartedon":"@{utcNow()}","_bpf_admin_appid_value":"@items('Apply_to_each_App')?['admin_appid']"},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('new_bpf_ffa183a676d64ec9aee6a558129651a2s'))}/items","authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"or":[{"greaterOrEquals":["@add(0,coalesce(items('Apply_to_each_App')?['admin_appsharedusers'],0))",20]},{"greaterOrEquals":["@add(0,coalesce(items('Apply_to_each_App')?['admin_appsharedgroups'],0))",1]}]},"type":"If"}}},"expression":{"and":[{"equals":["@items('Apply_to_each_App')?['admin_makersubmittedrequirements']","@true"]},{"not":{"equals":["@items('Apply_to_each_App')?['admin_apppublished']","@null"]}}]},"type":"If"},"Get_user_profile_(V2)":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"UserProfile_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365users_1']['connectionId']"}},"method":"get","path":"/codeless/v1.0/users/@{encodeURIComponent(items('Apply_to_each_App')?['_admin_appowner_value'])}","authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Apps":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":50}}},"Get_Settings":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_coesettingses'))}/items","authentication":"@parameters('$authentication')"}},"Initialize_logoUrl":{"runAfter":{"Get_Settings":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"logoUrl","type":"String","value":"@{first(body('Get_Settings')?['value'])?['admin_logo']}"}]}},"Initialize_communityUrl":{"runAfter":{"Initialize_logoUrl":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"communityUrl","type":"String","value":"@{first(body('Get_Settings')?['value'])?['admin_linktocommunitychannel']}"}]}},"Initialize_compliancePortalUrl":{"runAfter":{"Initialize_communityUrl":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"compliancePortalUrl","type":"String","value":"https://web.powerapps.com/apps/d0dcb9af-2f3c-4e94-908b-db3351f11719"}]}},"Initialize_htmlHeader_(style)":{"runAfter":{"Initialize_compliancePortalUrl":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"htmlHeader","type":"String"}]}},"Set_HTML_Header_":{"foreach":"@body('List_Environment_Variable_-_admin_eMailHeaderStyle')?['value']","actions":{"Set_htmlHeader":{"runAfter":{},"type":"SetVariable","inputs":{"name":"htmlHeader","value":"@items('Set_HTML_Header_')?['defaultvalue']"}}},"runAfter":{"List_Environment_Variable_-_admin_eMailHeaderStyle":["Succeeded"]},"type":"Foreach"},"List_Environment_Variable_-_admin_eMailHeaderStyle":{"runAfter":{"Initialize_htmlHeader_(style)":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('environmentvariabledefinitions'))}/items","queries":{"$filter":"schemaname eq 'admin_eMailHeaderStyle'"},"authentication":"@parameters('$authentication')"}},"List_Environment_Variable_-_admin_DeveloperComplianceCenterURL":{"runAfter":{"Set_HTML_Header_":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('environmentvariabledefinitions'))}/items","queries":{"$filter":"schemaname eq 'admin_DeveloperComplianceCenterURL'"},"authentication":"@parameters('$authentication')"}},"Set_Developer_Compliance_Center_URL":{"foreach":"@body('List_Environment_Variable_-_admin_DeveloperComplianceCenterURL')?['value']","actions":{"Set_compliancePortalUrl":{"runAfter":{},"type":"SetVariable","inputs":{"name":"compliancePortalUrl","value":"@items('Set_Developer_Compliance_Center_URL')?['defaultvalue']"}}},"runAfter":{"List_Environment_Variable_-_admin_DeveloperComplianceCenterURL":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}