Administration/CoEStarterKit/src/PowerPlatformAdmin/Workflows/SETUPREQUIREDAdminFindanddisableflowsthatleveragec-396C86A3-D1F4-E911-A86E-000D3A37207B.json
{"properties":{"connectionReferences":{"shared_powerplatformforadmins":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_powerplatformforadmins"}},"shared_flowmanagement":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_flowmanagement"}},"shared_office365users":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_office365users"}},"shared_microsoftflowforadmins":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_microsoftflowforadmins"}},"shared_office365_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_office365"}},"shared_office365":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_office365"}},"shared_commondataservice_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Minute","interval":30},"type":"Recurrence"}},"actions":{"Initialize_identifiedFlowArray":{"runAfter":{"Initialize_communityUrl":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"identifiedFlowArray","type":"Array"}]}},"Get_Environments":{"runAfter":{"Set_Admin_Mail_Variable":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"Get-AdminEnvironment"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_powerplatformforadmins']['connectionId']"}},"method":"get","path":"/environments","queries":{"api-version":"2016-11-01"},"authentication":"@parameters('$authentication')"}},"Loop_over_each_environment":{"foreach":"@body('Get_Environments')?['value']","actions":{"List_My_Flows":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"ListMyFlows"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_flowmanagement']['connectionId']"}},"method":"get","path":"/environments/@{encodeURIComponent(items('Loop_over_each_environment')?['name'])}/flows","authentication":"@parameters('$authentication')"}},"Loop_over_each_flow":{"foreach":"@body('List_My_Flows')?['value']","actions":{"Get_Flow_as_Admin":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"AdminGetFlow"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_flowmanagement']['connectionId']"}},"method":"get","path":"/scopes/admin/environments/@{encodeURIComponent(items('Loop_over_each_environment')?['name'])}/flows/@{encodeURIComponent(items('Loop_over_each_flow')?['name'])}","authentication":"@parameters('$authentication')"}},"Get_user_profile_(V2)":{"runAfter":{"Get_Flow_as_Admin":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"UserProfile_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365users']['connectionId']"}},"method":"get","path":"/codeless/v1.0/users/@{encodeURIComponent(item()?['properties']?['creator']?['objectId'])}","authentication":"@parameters('$authentication')"}},"Filter_Flow_Connections":{"runAfter":{"Get_user_profile_(V2)":["Succeeded"]},"type":"Query","inputs":{"from":"@body('Get_Flow_as_Admin')?['properties']?['connectionReferences']","where":"@contains(variables('disableConnectorArray'), item()?['displayName'])"}},"Disable_app_if_it_uses_highlighted_connectors":{"actions":{"Disable_Flow_as_Admin":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"Disable-AdminFlow"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_microsoftflowforadmins']['connectionId']"}},"method":"post","path":"/providers/Microsoft.ProcessSimple/scopes/admin/environments/@{encodeURIComponent(items('Loop_over_each_environment')?['name'])}/flows/@{encodeURIComponent(items('Loop_over_each_flow')?['name'])}/stop","queries":{"api-version":"2016-11-01"},"authentication":"@parameters('$authentication')"}},"Append_to_array_variable":{"runAfter":{"Disable_Flow_as_Admin":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"identifiedFlowArray","value":{"Environment":"@items('Loop_over_each_environment')?['name']","Flow Display Name":"@items('Loop_over_each_flow')?['properties']?['displayName']","Created By":"@body('Get_user_profile_(V2)')?['displayName']","Flow Id":"@items('Loop_over_each_flow')?['name']","Flow Creation Time":"@items('Loop_over_each_flow')?['properties']?['createdTime']"}}},"Send_an_email_to_Flow_maker_if_Flow_was_disabled":{"runAfter":{"Append_to_array_variable":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365_1']['connectionId']"}},"method":"post","body":{"To":"@{body('Get_user_profile_(V2)')?['mail']};","Subject":"Your Flow is using an unauthorized connector","Body":"@{variables('htmlHeader')}\n<body>\n<div id='content'>\n<table id='form'>\n<tr><td><img id='logo' src='@{variables('logoUrl')}'></td></tr>\n<tr><td><p id='header'>Flow</p></td></tr>\n<tr id='ribbon'><td>\n<table id='ribbonContent'><tr><td>Unauthorized Connector used in your Flow</td>\n<td></td>\n</tr></table></td></tr>\n<tr id='message'><td>\n<p>You own a Flow that is using an unauthorized connector and has therefore been disabled. Please reach out to your Power Platform Administrator to review your Flow and Connector Requirements.<br>\n<br>\n<b>Flow Details</b><br>\n<table id='app'>\n<tr><td class='label'>Display Name</td><td>@{items('Loop_over_each_flow')?['properties']?['displayName']}</td></tr>\n<tr><td class='label'>Environment</td><td>@{items('Loop_over_each_environment')?['properties']?['displayName']}</td></tr>\n</table>\n</td></tr>\n<tr id='footer'><td>Questions? Get help from our community <a href='@{variables('communityUrl')}'>Yammer Group</a>.</td></tr>\n</table>\n</div>\n</body>"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{"Filter_Flow_Connections":["Succeeded"]},"expression":{"and":[{"not":{"equals":["@items('Loop_over_each_flow')?['properties']?['creator']?['objectId']",""]}},{"greater":["@length(body('Filter_Flow_Connections'))",0]},{"equals":["@items('Loop_over_each_flow')?['properties']?['state']","Started"]}]},"type":"If","description":"Ensure own (Admin) flows are not disabled"}},"runAfter":{"List_My_Flows":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Get_Environments":["Succeeded"]},"type":"Foreach"},"Only_send_an_email_if_a_flow_was_flagged_and_disabled":{"actions":{"Create_HTML_table":{"runAfter":{},"type":"Table","inputs":{"from":"@variables('identifiedFlowArray')","format":"HTML"}},"Send_an_email_to_Admin_with_Flows_that_were_disabled":{"runAfter":{"Create_HTML_table":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"}},"method":"post","body":{"To":"@variables('adminMail')","Subject":"Disabled Flow Report","Body":"@{variables('htmlHeader')}\n<body>\n<b>Disabled Microsoft Flows in tenant</b><br/>\n\n@{body('Create_HTML_table')}\n<br/>\n</body>\n\n</html>\n\n\n","IsHtml":true},"path":"/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{"Loop_over_each_environment":["Succeeded"]},"expression":"@equals(empty(variables('identifiedFlowArray')), false)","type":"If"},"Initialize_htmlHeader_(style)":{"runAfter":{"Initialize_identifiedFlowArray":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"htmlHeader","type":"String","value":"<head>\n<style>\nbody{\nbackground-color: #efefef;\nfont-family: Segoe UI;\ntext-align:center;\n}\n#content{\nborder: 1px solid #742774;\nbackground-color:#ffffff;\nwidth: 650px;\nmargin-bottom:50px;\ndisplay:inline-block;\n}\n#logo{\nmargin-left:52px;\nmargin-top:40px;\nwidth:60px;\nheight:12px;\n}\n#header{\nfont-size:24px;\nmargin-left:50px;\nmargin-top:20px;\nmargin-bottom:20px;\n}\n#ribbon{\nbackground-color:#742774;\n}\n#ribbonContent{\nfont-size:20px;\npadding-left:30px;\npadding-top:10px;\npadding-bottom:20px;\ncolor:white;\nwidth:100%;\npadding-right:10px;\n}\n#message>td{\nfont-size:14px;\npadding-left:60px;\npadding-right:60px;\npadding-top:20px;\npadding-bottom:40px;\n}\n#footer>td{\nfont-size:12px;\nbackground-color:#cfcfcf;\nheight:40px;\npadding-top:15px;\npadding-left:40px;\npadding-bottom:20px;\n}\n#form{\nwidth:100%;\nborder-collapse:collapse;\n}\n#app{\nwidth:60%;\nfont-size:12px;\n}\n.label{\ncolor:#5f5f5f\n}\n\ntable {\n  border-collapse: collapse;\n  width: 100%;\n}\n\nth, td {\n  padding: 8px;\n  text-align: left;\n  border-bottom: 1px solid #ddd;\n}\n</style>\n</head>"}]}},"Initialize_logoUrl":{"runAfter":{"Get_Settings":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"logoUrl","type":"String","value":"@{first(body('Get_Settings')?['value'])?['admin_logo']}"}]}},"Get_Settings":{"runAfter":{"Initialize_disableConnectorArray":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_coesettingses'))}/items","authentication":"@parameters('$authentication')"}},"Initialize_communityUrl":{"runAfter":{"Initialize_logoUrl":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"communityUrl","type":"String","value":"@{first(body('Get_Settings')?['value'])?['admin_linktocommunitychannel']}"}]}},"Initialize_disableConnectorArray":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"disableConnectorArray","type":"Array","value":[]}]},"description":"Add connector names that will cause a Flow to be disabled here"},"List_Environment_Variable_-_admin_eMailHeaderStyle":{"runAfter":{"Initialize_adminMail":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('environmentvariabledefinitions'))}/items","queries":{"$filter":"schemaname eq 'admin_eMailHeaderStyle'"},"authentication":"@parameters('$authentication')"}},"Set_HTML_Header_":{"foreach":"@body('List_Environment_Variable_-_admin_eMailHeaderStyle')?['value']","actions":{"Set_htmlHeader":{"runAfter":{},"type":"SetVariable","inputs":{"name":"htmlHeader","value":"@items('Set_HTML_Header_')?['defaultvalue']"}}},"runAfter":{"List_Environment_Variable_-_admin_eMailHeaderStyle":["Succeeded"]},"type":"Foreach"},"Initialize_adminMail":{"runAfter":{"Initialize_htmlHeader_(style)":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"adminMail","type":"String"}]}},"List_Environment_Variable_-_admin_AdminMail":{"runAfter":{"Set_HTML_Header_":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('environmentvariabledefinitions'))}/items","queries":{"$filter":"schemaname eq 'admin_AdminMail'"},"authentication":"@parameters('$authentication')"}},"Set_Admin_Mail_Variable":{"foreach":"@body('List_Environment_Variable_-_admin_AdminMail')?['value']","actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"adminMail","value":"@items('Set_Admin_Mail_Variable')?['defaultvalue']"}}},"runAfter":{"List_Environment_Variable_-_admin_AdminMail":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}