Administration/CoEStarterKit/src/PowerPlatformAdmin/Workflows/SETUPREQUIREDAdminFindandaddadminsasownersforappst-B074A5A6-D1F4-E911-A858-000D3A3627B3.json
{"properties":{"connectionReferences":{"shared_office365users":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_office365users"}},"shared_office365":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_office365"}},"shared_powerappsforadmins":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_powerappsforadmins"}},"shared_powerplatformforadmins_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_powerplatformforadmins"}},"shared_commondataservice_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1},"type":"Recurrence","description":"Choose an appropriate interval to run this flow"}},"actions":{"Apply_to_each":{"foreach":"@body('Get_Environments')?['value']","actions":{"Set_Current_Environment":{"runAfter":{},"type":"Compose","inputs":"@items('Apply_to_each')?['properties']?['displayName']"},"Apply_to_each_PowerApp":{"foreach":"@body('Get_Apps_as_Admin')?['value']","actions":{"Check_to_see_if_the_PowerApp_is_in_our_window":{"actions":{"Check_if_connection_references_are_not_null":{"actions":{"Apply_to_each_connector":{"foreach":"@items('Apply_to_each_PowerApp')['properties']['connectionReferences']","actions":{"Does_this_app_use_an_unauthorized_connector":{"actions":{"Append_to_powerAppsArray":{"runAfter":{"Share_the_app_to_the_IT_security_group_for_visibility":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"powerAppsArray","value":{"Environment":"@outputs('Set_Current_Environment')","Display Name":"@items('Apply_to_each_PowerApp')?['properties']?['displayName']","Created By":"@body('Get_user_profile_(V2)_for_PowerApp_Creator')?['displayName']","App Id":"@items('Apply_to_each_PowerApp')?['name']","App Creation Time":"@items('Apply_to_each_PowerApp')?['properties']?['createdTime']"}}},"Get_user_profile_(V2)_for_PowerApp_Creator":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"UserProfile_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365users']['connectionId']"}},"method":"get","path":"/codeless/v1.0/users/@{encodeURIComponent(items('Apply_to_each_PowerApp')?['properties']?['owner']?['id'])}","authentication":"@parameters('$authentication')"}},"Notify_the_app_creator":{"runAfter":{"Append_to_powerAppsArray":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"}},"method":"post","body":{"To":"@{body('Get_user_profile_(V2)_for_PowerApp_Creator')?['mail']};","Subject":"Your app is using an unauthorized connector","Body":"@{variables('htmlHeader')}\n<body>\n<div id='content'>\n<table id='form'>\n<tr><td><img id='logo' src='@{variables('logoUrl')}'></td></tr>\n<tr><td><p id='header'>PowerApps</p></td></tr>\n<tr id='ribbon'><td>\n<table id='ribbonContent'><tr><td>Your app is using an unauthorized connector</td>\n<td><img src='https://az158878.vo.msecnd.net/marketing/Partner_21474836617/Product_42949681655/Asset_5497565b-7b50-4cea-98a0-3814524d4228/Windows300x300.png' height=60></td>\n</tr></table></td></tr>\n<tr id='message'><td>\n<p>You own a Flow that is using an unauthorized connector and has therefore been disabled. Please reach out to your Power Platform Administrator to review your App and Connector Requirements.<br>\n<br>\n<b>App Details</b><br>\n<table id='app'>\n<tr><td class='label'>Display Name</td><td>@{items('Apply_to_each_PowerApp')?['properties']?['displayName']}</td></tr>\n<tr><td class='label'>Environment</td><td>@{outputs('Set_Current_Environment')}</td></tr>\n<tr><td class='label'>Created By</td><td>@{items('Apply_to_each_PowerApp')?['properties']?['createdBy']?['displayName']}</td></tr>\n<tr><td class='label'>App Creation Time</td><td>@{items('Apply_to_each_PowerApp')?['properties']?['createdTime']}</td></tr>\n<tr><td class='label'>App Id</td><td>@{items('Apply_to_each_PowerApp')?['id']}</td></tr>\n</table>\n</td></tr>\n<tr id='footer'><td>Questions? Get help from our community <a href='@{variables('communityUrl')}'>Yammer Group</a>.</td></tr>\n</table>\n</div>\n</body>\n","IsHtml":true},"path":"/Mail","authentication":"@parameters('$authentication')"}},"Share_the_app_to_the_IT_security_group_for_visibility":{"runAfter":{"Get_user_profile_(V2)_for_PowerApp_Creator":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"Edit-AdminAppRoleAssignment"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_powerappsforadmins']['connectionId']"}},"method":"post","body":{"put":[{"properties":{"roleName":"CanEdit","NotifyShareTargetOption":"Notify","principal":{"id":"@variables('ppAdminSecurityGroup')","type":"Group"}}}]},"path":"/providers/Microsoft.PowerApps/scopes/admin/environments/@{encodeURIComponent(items('Apply_to_each')?['name'])}/apps/@{encodeURIComponent(items('Apply_to_each_PowerApp')?['name'])}/modifyPermissions","queries":{"api-version":"2016-11-01"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":"@contains(variables('disableConnectorArray'), items('Apply_to_each_connector')?['displayName'])","type":"If"}},"runAfter":{},"type":"Foreach"}},"runAfter":{},"expression":{"not":{"equals":["@items('Apply_to_each_PowerApp')?['properties']?['connectionReferences']","@null"]}},"type":"If"}},"runAfter":{},"expression":"@greater(ticks(item()?['properties']?['createdTime']), variables('reportingPeriodTicks'))","type":"If"}},"runAfter":{"Get_Apps_as_Admin":["Succeeded"]},"type":"Foreach"},"Get_Apps_as_Admin":{"runAfter":{"Set_Current_Environment":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"Get-AdminApps"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_powerappsforadmins']['connectionId']"}},"method":"get","path":"/providers/Microsoft.PowerApps/scopes/admin/environments/@{encodeURIComponent(items('Apply_to_each')?['name'])}/apps","queries":{"api-version":"2016-11-01"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Environments":["Succeeded"]},"type":"Foreach"},"Get_Environments":{"runAfter":{"Set_Variables_(from_Environment_Variables)":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"Get-AdminEnvironment"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_powerplatformforadmins_1']['connectionId']"}},"method":"get","path":"/environments","queries":{"api-version":"2016-11-01"},"authentication":"@parameters('$authentication')"}},"Send_an_email":{"runAfter":{"Create_PowerApps_HTML_table":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"}},"method":"post","body":{"To":"@variables('adminMail')","Subject":"Daily Unauthorized Connectors - PowerApps Report","Body":"@{variables('htmlHeader')}\n<body>\n<b>The following PowerApps are using unauthorized connectors and have been shared with the Power Platform Admin Security Group</b> <br/>\n@{body('Create_PowerApps_HTML_table')} <br/>\n</body>\n\n</html>\n\n\n","IsHtml":true},"path":"/Mail","authentication":"@parameters('$authentication')"}},"Initialize_reportingPeriod":{"runAfter":{"Initialize_powerAppsArray":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"reportingPeriod","type":"Integer","value":-180}]},"description":"Choose a negative value that reflects the number of days you want to include in your report"},"Initialize_reportingPeriod_Ticks":{"runAfter":{"Initialize_reportingPeriod":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"reportingPeriodTicks","type":"Integer","value":"@ticks(addDays(utcNow(),variables('reportingPeriod')))"}]}},"Initialize_powerAppsArray":{"runAfter":{"Initialize_htmlHeader_(style)":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"powerAppsArray","type":"Array"}]},"description":"This variable can be empty - will be used later in flow"},"Create_PowerApps_HTML_table":{"runAfter":{"Apply_to_each":["Succeeded"]},"type":"Table","inputs":{"from":"@variables('powerAppsArray')","format":"HTML"}},"Get_Settings":{"runAfter":{"Initialize_disableConnectorArray":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_coesettingses'))}/items","authentication":"@parameters('$authentication')"}},"Initialize_logoUrl":{"runAfter":{"Initialize_adminMail":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"logoUrl","type":"String","value":"@{first(body('Get_Settings')?['value'])?['admin_logo']}"}]}},"Initialize_communityUrl":{"runAfter":{"Initialize_logoUrl":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"communityUrl","type":"String","value":"@{first(body('Get_Settings')?['value'])?['admin_linktocommunitychannel']}"}]}},"Initialize_htmlHeader_(style)":{"runAfter":{"Initialize_communityUrl":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"htmlHeader","type":"String"}]}},"Initialize_Power_Platform_Admin_Security_Group":{"runAfter":{"Get_Settings":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ppAdminSecurityGroup","type":"String"}]},"description":"Enter the ID of the Power Platform Admin Security Group here"},"Initialize_disableConnectorArray":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"disableConnectorArray","type":"Array","value":[]}]},"description":"Add connector names that will cause the App to be flagged"},"Initialize_adminMail":{"runAfter":{"Initialize_Power_Platform_Admin_Security_Group":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"adminMail","type":"String"}]}},"Set_Variables_(from_Environment_Variables)":{"actions":{"List_Environment_Variable_-_admin_eMailHeaderStyle":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('environmentvariabledefinitions'))}/items","queries":{"$filter":"schemaname eq 'admin_eMailHeaderStyle'"},"authentication":"@parameters('$authentication')"}},"Set_HTML_Header_":{"foreach":"@body('List_Environment_Variable_-_admin_eMailHeaderStyle')?['value']","actions":{"Set_htmlHeader":{"runAfter":{},"type":"SetVariable","inputs":{"name":"htmlHeader","value":"@items('Set_HTML_Header_')?['defaultvalue']"}}},"runAfter":{"List_Environment_Variable_-_admin_eMailHeaderStyle":["Succeeded"]},"type":"Foreach"},"List_Environment_Variable_-_admin_PowerPlatformAdminSecurityGroup":{"runAfter":{"Set_HTML_Header_":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('environmentvariabledefinitions'))}/items","queries":{"$filter":"schemaname eq 'admin_PowerPlatformAdminSecurityGroup'"},"authentication":"@parameters('$authentication')"}},"Set_PP_Admin_Security_Group":{"foreach":"@body('List_Environment_Variable_-_admin_PowerPlatformAdminSecurityGroup')?['value']","actions":{"Set_ppAdminSecurityGoup":{"runAfter":{},"type":"SetVariable","inputs":{"name":"ppAdminSecurityGroup","value":"@items('Set_PP_Admin_Security_Group')?['defaultvalue']"}}},"runAfter":{"List_Environment_Variable_-_admin_PowerPlatformAdminSecurityGroup":["Succeeded"]},"type":"Foreach"},"List_Environment_Variable_-_admin_AdminMail":{"runAfter":{"Set_PP_Admin_Security_Group":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('environmentvariabledefinitions'))}/items","queries":{"$filter":"schemaname eq 'admin_AdminMail'"},"authentication":"@parameters('$authentication')"}},"Set_Admin_Mail_Variable":{"foreach":"@body('List_Environment_Variable_-_admin_AdminMail')?['value']","actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"adminMail","value":"@items('Set_Admin_Mail_Variable')?['defaultvalue']"}}},"runAfter":{"List_Environment_Variable_-_admin_AdminMail":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Initialize_reportingPeriod_Ticks":["Succeeded"]},"type":"Scope"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}