Administration/CoEStarterKit/src/PowerPlatformAdmin/Workflows/TrainingInADayFeedbackReminder-2C42D11C-AFE6-E911-A860-000D3A372932.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_office365":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_office365"}},"shared_commondataservice_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"startTime":"2019-10-04T09:00:00Z","schedule":{"hours":["19"]}},"type":"Recurrence"}},"actions":{"List_Training_events_records":{"runAfter":{"Set_Feedback_Survey_Link":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_inadayevents'))}/items","authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@body('List_Training_events_records')?['value']","actions":{"Check_if_event_was_today":{"actions":{"List_records":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_inadayattendeeses'))}/items","authentication":"@parameters('$authentication')"}},"Filter_array":{"runAfter":{"List_records":["Succeeded"]},"type":"Query","inputs":{"from":"@body('List_records')?['value']","where":"@equals(item()?['_admin_registeredevent_value'], items('Apply_to_each')?['admin_inadayeventid'])"}},"Apply_to_each_Attendee":{"foreach":"@body('Filter_array')","actions":{"Send_an_email_(V2)":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"}},"method":"post","body":{"To":"@{items('Apply_to_each_Attendee')?['admin_attendeeemail']};;","Subject":"@{items('Apply_to_each')?['admin_name']} (@{formatDateTime(items('Apply_to_each')?['admin_starttime'], 'dd/MM/yyyy')}): Feedback Request","Body":"\n@{variables('htmlHeader')}\n<body>\n<div id='content'>\n<table id='form'>\n<tr><td><img id='logo' src='@{variables('logo')}'></td></tr>\n<tr><td><p id='header'>Microsoft Power Platform</p></td></tr>\n<tr id='ribbon'><td>\n<table id='ribbonContent'><tr><td>@{items('Apply_to_each')?['admin_name']} - Feedback Request</td>\n<td><img src='https://higherlogicdownload.s3.amazonaws.com/PBIUSERGROUP/0dd17701-ca4a-49ad-9e12-8a3458d663ba/UploadedImages/World_Tour/2019/PowerApps.png' height=60></td>\n<td><img src='http://powerplatformconference.com/wp-content/uploads/2019/05/FlowIcon256x256.png' height=40></td>\n</tr></table></td></tr>\n<tr id='message'><td>\n<br>\n<p>@{items('Apply_to_each_Attendee')?['admin_name']},<br>\nthank you for attending the @{items('Apply_to_each')?['admin_name']} course today. We hope you enjoyed the event and are looking forward to seeing what you will create with the Power Platform Tools.<br>\n<br>\nWe'd love to hear from you, please fill out the survey below to let us know what you thought of the day<br>\n<a href='@{variables('surveyLink')}'>Feedback Survey Link</a></p>\n@{variables('htmlFooter')}"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{"Filter_array":["Succeeded"]},"type":"Foreach"}},"runAfter":{},"expression":{"not":{"equals":["@formatDateTime(items('Apply_to_each')?['admin_starttime'], 'dd/MM/yyyy')","@formatDateTime(utcNow(), 'dd/MM/yyyy')"]}},"type":"If"}},"runAfter":{"List_Training_events_records":["Succeeded"]},"type":"Foreach"},"Get_Settings":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_coesettingses'))}/items","authentication":"@parameters('$authentication')"}},"Initialize_logo":{"runAfter":{"Get_Settings":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"logo","type":"String","value":"@{first(body('Get_Settings')?['value'])?['admin_logo']}"}]}},"Initialize_communityUrl":{"runAfter":{"Initialize_logo":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"communityUrl","type":"String","value":"@{first(body('Get_Settings')?['value'])?['admin_linktocommunitychannel']}"}]}},"Initialize_htmlHeader_(style)":{"runAfter":{"Initialize_communityUrl":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"htmlHeader","type":"String"}]}},"Set_Feedback_Survey_Link":{"foreach":"@body('List_Environment_Variable_-_admin_TrainingInaDayFeedbackForm')?['value']","actions":{"Set_surveyLink":{"runAfter":{},"type":"SetVariable","inputs":{"name":"surveyLink","value":"@items('Set_Feedback_Survey_Link')?['defaultvalue']"}}},"runAfter":{"Set_HTML_Header_":["Succeeded"]},"type":"Foreach"},"Set_HTML_Header_":{"foreach":"@body('List_Environment_Variable_-_admin_eMailHeaderStyle')?['value']","actions":{"Set_htmlHeader":{"runAfter":{},"type":"SetVariable","inputs":{"name":"htmlHeader","value":"@items('Set_HTML_Header_')?['defaultvalue']"}}},"runAfter":{"List_Environment_Variable_-_admin_TrainingInaDayFeedbackForm":["Succeeded"]},"type":"Foreach"},"Initialize_htmlFooter_(style)":{"runAfter":{"Initialize_htmlHeader_(style)":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"htmlFooter","type":"String","value":"<tr id='footer'><td>Questions? Get help from our community <a href='@{variables('communityUrl')}'>Yammer Group</a>.</td></tr>\n</table>\n</div>\n</body>"}]}},"Initialize_surveyLink":{"runAfter":{"Initialize_htmlFooter_(style)":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"surveyLink","type":"String"}]}},"List_Environment_Variable_-_admin_TrainingInaDayFeedbackForm":{"runAfter":{"List_Environment_Variable_-_admin_eMailHeaderStyle":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('environmentvariabledefinitions'))}/items","queries":{"$filter":"schemaname eq 'admin_TrainingInaDayFeedbackForm'"},"authentication":"@parameters('$authentication')"}},"List_Environment_Variable_-_admin_eMailHeaderStyle":{"runAfter":{"Initialize_surveyLink":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('environmentvariabledefinitions'))}/items","queries":{"$filter":"schemaname eq 'admin_eMailHeaderStyle'"},"authentication":"@parameters('$authentication')"}}}}},"schemaVersion":"1.0.0.0"}