Administration/CoEStarterKit/src/PowerPlatformAdmin/Workflows/TrainingInADayReminder3dayspriorevent-BC9A9F1A-AFE6-E911-A86A-000D3A37207B.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_office365":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_office365"}},"shared_commondataservice_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"startTime":"2019-10-04T09:00:00Z"},"type":"Recurrence"}},"actions":{"List_Training_events_records":{"runAfter":{"Set_HTML_Header_":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_inadayevents'))}/items","authentication":"@parameters('$authentication')"}},"Calculate_date_in_3_days":{"runAfter":{},"type":"Expression","kind":"AddToTime","inputs":{"baseTime":"@{utcNow()}","interval":3,"timeUnit":"Day"}},"Apply_to_each":{"foreach":"@body('List_Training_events_records')?['value']","actions":{"Check_if_event_is_in_3_days":{"actions":{"List_records":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_inadayattendeeses'))}/items","authentication":"@parameters('$authentication')"}},"Filter_array":{"runAfter":{"List_records":["Succeeded"]},"type":"Query","inputs":{"from":"@body('List_records')?['value']","where":"@equals(item()?['_admin_registeredevent_value'], items('Apply_to_each')?['admin_inadayeventid'])"}},"Apply_to_each_Attendee":{"foreach":"@body('Filter_array')","actions":{"Send_an_email_(V2)":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"}},"method":"post","body":{"To":"@{items('Apply_to_each_Attendee')?['admin_attendeeemail']};;","Subject":"@{items('Apply_to_each')?['admin_name']} (@{formatDateTime(items('Apply_to_each')?['admin_starttime'], 'dd/MM/yyyy')}): Your Upcoming Training","Body":"@{variables('htmlHeader')}\n<body>\n<div id='content'>\n<table id='form'>\n<tr><td><img id='logo' src='@{variables('logo')}'></td></tr>\n<tr><td><p id='header'>Microsoft Power Platform</p></td></tr>\n<tr id='ribbon'><td>\n<table id='ribbonContent'><tr><td>@{items('Apply_to_each')?['admin_name']} - Upcoming</td>\n<td><img src='https://higherlogicdownload.s3.amazonaws.com/PBIUSERGROUP/0dd17701-ca4a-49ad-9e12-8a3458d663ba/UploadedImages/World_Tour/2019/PowerApps.png' height=60></td>\n<td><img src='http://powerplatformconference.com/wp-content/uploads/2019/05/FlowIcon256x256.png' height=40></td>\n</tr></table></td></tr>\n<tr id='message'><td>\n<br>\n<p>@{items('Apply_to_each_Attendee')?['admin_name']},<br>\n<br>\n<br>\ndon't forget your @{items('Apply_to_each')?['admin_name']} course is coming up on @{formatDateTime(items('Apply_to_each')?['admin_starttime'], 'dd/MM/yyyy')}. The course starts at @{formatDateTime(items('Apply_to_each')?['admin_starttime'], 'hh:mm')} in @{items('Apply_to_each')?['admin_location']}.<br>\n<br>\nIf you can no longer make it, please cancel your attendence using the \"Training In A Day Registration\" app.<br>\n<strong>Pre-Requisites:</strong><br>\nPlease download the latest course material from http://aka.ms/appinaday for App in a day and http://aka.ms/flowinaday for Flow in a day and follow the pre-requistes in the manual.<br>\n<br>\n<strong>What you can expect on the day:</strong><br>\nThis is a beginner level lab for you to get hands on experience with Microsoft Business Application Platform technologies – PowerApps, Microsoft Flow and Microsoft Forms. The labs include step-by-step instructions for someone new to these technologies to build a solutions in less then a day.</p>\n@{variables('htmlFooter')}"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{"Filter_array":["Succeeded"]},"type":"Foreach"}},"runAfter":{},"expression":{"equals":["@formatDateTime(items('Apply_to_each')?['admin_starttime'], 'dd/MM/yyyy')","@formatDateTime(body('Calculate_date_in_3_days'), 'dd/MM/yyyy')"]},"type":"If"}},"runAfter":{"List_Training_events_records":["Succeeded"]},"type":"Foreach"},"Get_Settings":{"runAfter":{"Calculate_date_in_3_days":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_coesettingses'))}/items","authentication":"@parameters('$authentication')"}},"Initialize_logo":{"runAfter":{"Get_Settings":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"logo","type":"String","value":"@{first(body('Get_Settings')?['value'])?['admin_logo']}"}]}},"Initialize_communityUrl":{"runAfter":{"Initialize_logo":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"communityUrl","type":"String","value":"@{first(body('Get_Settings')?['value'])?['admin_linktocommunitychannel']}"}]}},"Initialize_htmlHeader_(style)":{"runAfter":{"Initialize_communityUrl":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"htmlHeader","type":"String"}]}},"Initialize_htmlFooter_(style)":{"runAfter":{"Initialize_htmlHeader_(style)":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"htmlFooter","type":"String","value":"<tr id='footer'><td>Questions? Get help from our community <a href='@{variables('communityUrl')}'>Yammer Group</a>.</td></tr>\n</table>\n</div>\n</body>"}]}},"List_Environment_Variable_-_admin_eMailHeaderStyle":{"runAfter":{"Initialize_htmlFooter_(style)":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('environmentvariabledefinitions'))}/items","queries":{"$filter":"schemaname eq 'admin_eMailHeaderStyle'"},"authentication":"@parameters('$authentication')"}},"Set_HTML_Header_":{"foreach":"@body('List_Environment_Variable_-_admin_eMailHeaderStyle')?['value']","actions":{"Set_htmlHeader":{"runAfter":{},"type":"SetVariable","inputs":{"name":"htmlHeader","value":"@items('Set_HTML_Header_')?['defaultvalue']"}}},"runAfter":{"List_Environment_Variable_-_admin_eMailHeaderStyle":["Succeeded"]},"type":"Foreach"}}}},"schemaVersion":"1.0.0.0"}