Administration/CoEStarterKit/src/PowerPlatformAdmin/Workflows/TrainingInADayRegistrationConfirmation-BDD94919-AFE6-E911-A85C-000D3A372AB9.json
{"properties":{"connectionReferences":{"shared_office365":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_office365"}},"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_commondataservice_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created":{"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SubscribeOnNewItems"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"body":{"NotificationUrl":"@{listCallbackUrl()}"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_inadayattendeeses'))}/onnewitemswebhook","queries":{"scope":"Organization"},"authentication":"@parameters('$authentication')"}}},"actions":{"Send_an_email_(V2)":{"runAfter":{"Get_record":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"}},"method":"post","body":{"To":"@{triggerBody()?['admin_attendeeemail']};","Subject":"@{body('Get_record')?['admin_name']} (@{formatDateTime(body('Get_record')?['admin_starttime'], 'dd MMM yyyy')}): Confirmation registration","Body":"\n@{variables('htmlHeader')}\n<body>\n<div id='content'>\n<table id='form'>\n<tr><td><img id='logo' src='@{variables('logo')}'></td></tr>\n<tr><td><p id='header'>Microsoft Power Platform</p></td></tr>\n<tr id='ribbon'><td>\n<table id='ribbonContent'><tr><td>@{body('Get_record')?['admin_name']} - Registration</td>\n<td><img src='https://higherlogicdownload.s3.amazonaws.com/PBIUSERGROUP/0dd17701-ca4a-49ad-9e12-8a3458d663ba/UploadedImages/World_Tour/2019/PowerApps.png' height=60></td>\n<td><img src='http://powerplatformconference.com/wp-content/uploads/2019/05/FlowIcon256x256.png' height=40></td>\n</tr></table></td></tr>\n<tr id='message'><td>\n<br>\n<p>@{triggerBody()?['admin_name']},<br>\n<br>\n<br>\nwe're pleased to confirm your registration for the @{body('Get_record')?['admin_name']} course on @{formatDateTime(body('Get_record')?['admin_starttime'], 'dd MMM yyyy')}.<br>\n<br>\nIf you can no longer make it, please cancel your attendence using the \"Training In A Day Registration\" app.<br>\n<br>\n<strong>What you can expect on the day:</strong><br>\nThis is a beginner level lab for you to get hands on experience with Microsoft Business Application Platform technologies – PowerApps, Microsoft Flow and Microsoft Forms. The labs include step-by-step instructions for someone new to these technologies to build a solutions in less then a day.</p>\n@{variables('htmlFooter')}"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}},"Get_record":{"runAfter":{"Set_HTML_Header_":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_inadayevents'))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['_admin_registeredevent_value']))}","authentication":"@parameters('$authentication')"}},"Get_Settings":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('admin_coesettingses'))}/items","authentication":"@parameters('$authentication')"}},"Initialize_logo":{"runAfter":{"Get_Settings":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"logo","type":"String","value":"@{first(body('Get_Settings')?['value'])?['admin_logo']}"}]}},"Initialize_communityUrl":{"runAfter":{"Initialize_logo":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"communityUrl","type":"String","value":"@{first(body('Get_Settings')?['value'])?['admin_linktocommunitychannel']}"}]}},"Initialize_htmlHeader_(style)":{"runAfter":{"Initialize_communityUrl":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"htmlHeader","type":"String"}]}},"Initialize_htmlFooter_(style)":{"runAfter":{"Initialize_htmlHeader_(style)":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"htmlFooter","type":"String","value":"<tr id='footer'><td>Questions? Get help from our community <a href='@{variables('communityUrl')}'>Yammer Group</a>.</td></tr>\n</table>\n</div>\n</body>"}]}},"List_Environment_Variable_-_admin_eMailHeaderStyle":{"runAfter":{"Initialize_htmlFooter_(style)":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('environmentvariabledefinitions'))}/items","queries":{"$filter":"schemaname eq 'admin_eMailHeaderStyle'"},"authentication":"@parameters('$authentication')"}},"Set_HTML_Header_":{"foreach":"@body('List_Environment_Variable_-_admin_eMailHeaderStyle')?['value']","actions":{"Set_htmlHeader":{"runAfter":{},"type":"SetVariable","inputs":{"name":"htmlHeader","value":"@items('Set_HTML_Header_')?['defaultvalue']"}}},"runAfter":{"List_Environment_Variable_-_admin_eMailHeaderStyle":["Succeeded"]},"type":"Foreach"}}}},"schemaVersion":"1.0.0.0"}